:javascript
  function update_frequency(row,frequency_row)
    {
      var row = $(row);
      var value = 0;
      var total = 0
  
      row.find('[type=checkbox]').each(function()
      {
         if (($(this).is(':checked')) && (!$(this).hasClass('disabled'))){
          value += 1;  
         }
         if ( !$(this).hasClass('disabled') ){
          total += 1; 
         }
      });
  
      percentage = ((value * 100)/total).toFixed(2);
      if (percentage >= 75){
        style = 'color:green;'
      }
      else{
        style = 'color:red;' 
      }
      if (isNaN(percentage)){
        percentage = 0;
      }
      
      $(frequency_row).html('<div style='+style+'>'+percentage+'%'+'</div>');
    }

    $("tbody tr:nth-child(even)").addClass("even");
    $("tbody tr:nth-child(odd)").addClass("odd");
- if @presences.count == 0
  .div{:style => 'margin: 10px; float:left; clear: both;'}
    Não há atividades ou estudantes cadastrado nesta turma.
- else
  .actions
    = link_to "Fechar lista de presença", finish_presence_list_path(:month => params[:month], :room_id => params[:room_id]), :id => "close_presence_list", :remote => true, :confirm => t('are_you_sure')
  %ul#presence_list_header
    %li
      %b Núcleo:
      = @core.name
    %li
      %b Turma:
      = @room.name
    %li
      %b Nome do alfabetizador:
      = @educators
    %li 
      %b Mês:
      = @month
    %li
      %b Dias de funcionamento:
      - @lecture_days.each do |l|
        - if l != @lecture_days.last
          = "#{l.lecture_on_to_date.try(:strftime, '%d')},"
        - else
          = l.lecture_on_to_date.try(:strftime, '%d')
    

  %ul.presence_list_legend
    %li 
      %label Aula cancelada
      %span.cancelled_class
    %li 
      %label Ausente
      %span.away
    %li 
      %label Evadido
      %span.evaded

  %table{:id => 'presence_list'}
    %thead
      %tr
        %td Alfabetizando
        - @lecture_days.each do |l|
          %td= link_to l.lecture_on_to_date.try(:strftime, '%d'), "#", :alt => "#{l.period}", :title => "#{l.period}", :class => "lecture_day_link"
        %td
    %tbody
      - @presences.each do |p|
        %tr{:id => "#{p[:student_id]}"}
          %td.student
            = link_to p[:student], student_path(:id => p[:student_id]), :target => "_blank"
            - status = p[@lecture_days.first.id].status
            - if status > Presence::WITH_CLASS
              .more_info_wrapper
                %a{:href=> "#", :id => "show_comments_#{p[:student_id]}"}
                  .more_info
                  :javascript
                    $(document).ready(function() {
                      $("#show_comments_#{p[:student_id]}").click(function() {
                        $.ajax({url: "/students/#{p[:student_id]}/presence_list_comments?month=#{params[:month]}"}); 
                      });
                    });
            = select_tag :student_status, options_for_select(Presence::STUDENT_STATUS, :selected => status), :class => "student_status", :id => "#{params[:room_id]}_#{params[:month]}_#{p[:student_id]}"

          - @lecture_days.each do |l|
            - presence = p[l.id]
            - if !presence.nil?
              = fields_for presence do |f|
                - style_class = ''
                - checkbox_class = ''
                - case presence.status
                  - when Presence::AWAY
                    - disabled = true
                    - klass = 'disabled'
                    - style_class = 'away'
                  - when Presence::EVADED
                    - disabled = true
                    - klass = 'disabled'
                    - style_class = 'evaded'
                - if !presence.has_class
                  - disabled = true
                  - klass = 'disabled'
                  - checkbox_class = 'disabled'
                  - style_class = ''

                %td{:class => "#{klass} #{style_class}"}= f.check_box :presence, :id => "presence_#{presence.id}", :disabled => disabled, :class => checkbox_class
                :javascript
                  $(document).ready(function() {
                    update_frequency("##{p[:student_id]}", '##{p[:student_id]}_frequency');
                    $("#presence_#{presence.id}").change(function() {
                      if ($("#presence_#{presence.id}").is(':checked')){
                        $.ajax({url: "/update_presence/#{presence.id}/1"});
                      }
                      else{
                        $.ajax({url: "/update_presence/#{presence.id}/0"}); 
                      }
                      update_frequency("##{p[:student_id]}", '##{p[:student_id]}_frequency');
                    });
                  });
            - else
              %td

          %td{:id => "#{p[:student_id]}_frequency"}

:javascript
  $(document).ready(function() {
    $(".student_status").change(function() {
      var id = $(this).prop("id");
      var array = id.split("_");
      var room_id = array[0];
      var month = array[1];
      var student_id = array[2];
      var status = $(this).val();
      $.ajax({url: "/update_student_presences/"+room_id+"/"+month+"/"+student_id+"/"+status}); 
    });
  });