:javascript
  function update_frequency(row,frequency_row)
    {
      var row = $(row);
      var value = 0;
      var total = 0
  
      row.find('[type=checkbox]').each(function()
      {
         if ($(this).is(':checked')){
          value += 1;  
         }
         if ( !$(this).is(':disabled') ){
          total += 1; 
         }
      });
  
      percentage = ((value * 100)/total).toFixed(2);
      if (percentage >= 75){
        style = 'color:green;'
      }
      else{
        style = 'color:red;' 
      }
      
      $(frequency_row).html('<div style='+style+'>'+percentage+'%'+'</div>');
    }

    $("tbody tr:nth-child(even)").addClass("even");
    $("tbody tr:nth-child(odd)").addClass("odd");

- if @presences.count == 0
  .div{:style => 'margin: 10px; float:left; clear: both;'}
    Não há atividades ou estudantes cadastrado nesta formação.
- else
  - form_tag 'teste' do
    %table{:id => 'presence_list'}
      %thead
        %tr
          %td Alfabetizando
          - @lecture_days.each do |l|
            %td= link_to l.lecture_on_to_date.try(:strftime, '%d'), "#", :alt => "#{l.period}", :title => "#{l.period}", :class => "lecture_day_link"
          %td
      %tbody
        - i = 0
        - @presences.each do |p|
          - i += 1
          %tr{:id => "#{i}"}
            %td.student= p[:student]
            - @lecture_days.each do |l|
              - presence = p[l.id]
              - if !presence.nil?
                = fields_for presence do |f|
                  - if presence.status == Presence::NO_CLASS
                    - disabled = true
                    - klass = 'disabled'
                  %td{:class => "#{klass}"}= f.check_box :presence, :id => "presence_#{presence.id}", :disabled => disabled
                  :javascript
                    $(document).ready(function() {
                      update_frequency("##{i}", '##{i}_frequency');
                      $("#presence_#{presence.id}").change(function() {
                        if ($("#presence_#{presence.id}").is(':checked')){
                          $.ajax({url: "/update_presence/#{presence.id}/1"});
                        }
                        else{
                          $.ajax({url: "/update_presence/#{presence.id}/0"}); 
                        }
                        update_frequency("##{i}", '##{i}_frequency');
                      });
                    });
              - else
                %td

            %td{:id => "#{i}_frequency"}
