%td.student
  = p[:student]
  = select_tag :student_status, options_for_select(Presence::STUDENT_STATUS), :class => "student_status", :id => "#{params[:room_id]}_#{params[:month]}_#@student.id"
- @lecture_days.each do |l|
  - presence = p[l.id]
  - if !presence.nil?
    = fields_for presence do |f|
      - if presence.status == Presence::NO_CLASS
        - disabled = true
        - klass = 'disabled'
      %td{:class => "#{klass}"}= f.check_box :presence, :id => "presence_#{presence.id}", :disabled => disabled
      :javascript
        $(document).ready(function() {
          update_frequency("##@student.id", '##@student.id_frequency');
          $("#presence_#{presence.id}").change(function() {
            if ($("#presence_#{presence.id}").is(':checked')){
              $.ajax({url: "/update_presence/#{presence.id}/1"});
            }
            else{
              $.ajax({url: "/update_presence/#{presence.id}/0"}); 
            }
            update_frequency("##@student.id", '##@student.id_frequency');
          });
        });
  - else
    %td

%td{:id => "#@student.id_frequency"}