- if @presences.count == 0
  .div{:style => 'margin: 10px; float:left; clear: both;'}
    Não há atividades ou estudantes cadastrado nesta formação.
- else
  - form_tag 'teste' do
    %table{:id => 'presence_list'}
      %thead
        %tr
          %td
          - @lecture_days.each do |l|
            %td= l.lecture_on_to_date.try(:strftime, '%d/%m/%Y')
      %tbody
        - @students.each do |s|
          %tr
            %td= s.name
            - @lecture_days.each do |l|
              - @presences.each do |p|
                = fields_for p do |f|
                  %td= f.check_box :presence, :id => "presence_#{p.id}"

                  
                