%h1.title= "Atualização das listas de presença da turma #{@room.name}"
.action_back 
  = link_to t('back'), :rooms, :class => 'back_link'
  .presence_lists= link_to "Ver Dias de Aula", room_lecture_days_path(:room_id => params[:room_id])
.presence_list
  .calendar
    .year 2012
  - @months.each do |m|
    %div{:id => "calendar_#{m}", :class => "calendar"}
      .month= link_to show_month(m), edit_presences_list_path(:room_id => params[:room_id], :month => m), :remote => true, :class => "show_presence_list"
#presence_list_area

:javascript
  $(document).ready(function() {
    $('.show_presence_list').click(function() {
      $("#presence_list_area").html("")
      show_spinner('presence_list_area');
    });
    
  });

  
