.fields
  .fields_wrapper
    .form_actions
      .delete
        = link_to_remove_fields t('remove'), f
    %div
      = t('phone.dd')
      = f.text_field  :dd, :size => 3
      = t('phone.number')
      = f.text_field  :number
      
