%b= t('core.displacement_title')
%br/
.field_with_complement_info
  = t('core.educators')
  %br/
  - @displacements.each do |d|
    = check_box_tag 'displacement_ids[]', "#{d.id}.0", @core.displacements.include?(d), :id => "displacement_id_0_#{d.id}"
    = d.displacement
:javascript
  $(document).ready(function() {
      $("#displacement_id_0_9").change(function() {
          if ($("#displacement_id_0_9").is(':checked')){
            jQuery('#core_displacement_desc_0_div').attr('style','display:block; !important');
            jQuery('#displacement_desc_0').focus();
          }
          else{
            jQuery('#core_displacement_desc_0_div').attr('style','display:none; !important');
          }
      });
  });
#core_displacement_desc_0_div.invisible
  = label_tag :displacement_desc, t('which')
  %br/
  = text_field_tag :displacement_desc_0, @displacement_desc_0, :id => "displacement_desc_0"
%br/
.field_with_complement_info
  = t('core.students')
  %br/
  - @displacements.each do |d|
    = check_box_tag 'displacement_ids[]', "#{d.id}.1" , @core.displacements.include?(d), :id => "displacement_id_1_#{d.id}"
    = d.displacement
:javascript
  $(document).ready(function() {
      $("#displacement_id_1_9").change(function() {
          if ($("#displacement_id_1_9").is(':checked')){
            jQuery('#core_displacement_desc_1_div').attr('style','display:block; !important');
            jQuery('#displacement_desc_1').focus();
          }
          else{
            jQuery('#core_displacement_desc_1_div').attr('style','display:none; !important');
          }
      });
  });
#core_displacement_desc_1_div.invisible
  = label_tag :displacement_desc, t('which')
  %br/
  = text_field_tag :displacement_desc_1, @displacement_desc_1, :id => "displacement_desc_1"
