<script>
  $(document).ready(function() {
    if ($("#core_place").val() == 6){
      jQuery('#core_place_desc_div').attr('style','visibility:visible; !important');
    }

    if ($("#partner_resource_id_1").is(':checked')){
      jQuery('#core_resource_desc_div').attr('style','visibility:visible; !important');
    }

    if ($("#seat_type_id_1").is(':checked')){
      jQuery('#core_seat_type_desc_div').attr('style','visibility:visible; !important');
    }

    if ($("#core_illumination_type").val() == 2){
      jQuery('#core_illumination_type_desc_div').attr('style','visibility:visible; !important');
    }

    if ($("#displacement_id_0_9").is(':checked')){
      jQuery('#core_displacement_desc_0_div').attr('style','visibility:visible; !important');
    }

    if ($("#displacement_id_1_9").is(':checked')){
      jQuery('#core_displacement_desc_1_div').attr('style','visibility:visible; !important');
    }
  });
</script>

<%= form_for(@core) do |f| %>
  <% if @core.errors.any? %>
    <div id="error_explanation">


      <ul>
      <% @core.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :city, t('core.city') %><br />
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :community, t('core.community') %><br />
    <%= f.text_field :community %>
  </div>

  <div>
    <%= f.label :address, t('core.address') %><br />
    <%= f.text_field :address, :size => 100%>
  </div>

  <div>
    <%= f.label :community_type, t('core.community_field') %><br />
    <%= f.select :community_type, Core::COMMUNITY_TYPES %>
  </div>

  <div>
    <%= f.label :place, t('core.place_field') %><br />
    <div class= "field_with_complement_info"><%= f.select :place, Core::PLACES %></div>
  </div>
  <script>
    $(document).ready(function() {
        $("#core_place").change(function() {
            var value = $(this).val();
            if (value == 6){
              jQuery('#core_place_desc_div').attr('style','visibility:visible; !important');
              jQuery('#core_place_desc').focus();
            }
            else{
              jQuery('#core_place_desc_div').attr('style','visibility:hidden; !important');
            }
        });
    });
  </script>

  <div class="invisible" id="core_place_desc_div">
    <%= f.label :place_desc, t('which') %>
    <%= f.text_field :place_desc %>
  </div>


  <div>
    <%= t('core.period_field') %><br />
    <% f.fields_for :periods do |builder| %>
      <%= render "period_fields", :f => builder %>
      <div> <%= link_to_add_fields t('period.new'), f, :periods %></div>
    <% end %>
  </div>

  <div>
    <%= render "partner_resources_fields" %>
  </div>

  <div>
    <%= f.label :name, t('core.name_field') %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :responsible, t('core.responsible_field') %><br />
    <%= f.text_field :responsible %>
  </div>

  <div>
    <%= t('core.phones_field') %><br />
    <% f.fields_for :phones do |builder| %>
      <%= render "phone_fields", :f => builder %>
    <% end %>
  </div>
  <div> <%= link_to_add_fields t('phone.new'), f, :phones %></div>

  <div>
    <%= f.label :email, t('core.email_field') %><br />
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :main_activity, t('core.main_activity_field') %><br />
    <%= f.text_field :main_activity, :size => 100 %>
  </div>


  <div>
    <b><%= t('core.physical_conditions_field') %></b><br />
    <%= f.label :size, t('core.size.title') %><br />
    <%= f.select :size, Core::SIZES %>
  </div>

  <div>
    <%= f.label :board, t('core.board_field') %><br />
    <%= f.check_box :board, :value => false %>
    <%= t('yyes') %>
  </div>

  <div>
    <%= f.label :board_type, t('core.board_type_field') %><br />
    <%= f.select :board_type, Core::BOARD_TYPES  %>
  </div>

  <div>
    <%= render "seat_types_fields" %>
  <div>
    <%= f.label :total_seats, t('core.total_seats_field') %><br />
    <%= f.select :total_seats, Core::TOTAL_SEATS  %>
  </div>

  <div>
    <%= render "desk_types_fields" %>
  </div>

  <div>
    <%= f.label :illumination_type, t('core.illumination_field') %><br />
    <div class= "field_with_complement_info"><%= f.select :illumination_type, Core::ILLUMINATION_TYPES  %></div>
  </div>

  <script>
    $(document).ready(function() {
        $("#core_illumination_type").change(function() {
            var value = $(this).val();
            if (value == 2){
              jQuery('#core_illumination_type_desc_div').attr('style','visibility:visible; !important');
              jQuery('#core_illumination_type_desc').focus();
            }
            else{
              jQuery('#core_illumination_type_desc_div').attr('style','visibility:hidden; !important');
            }
        });
    });
  </script>

  <div class="invisible" id="core_illumination_type_desc_div">
    <%= f.label :illumination_type_desc, t('which') %>
    <%= f.text_field :illumination_type_desc %>
  </div>


  <div>
    <%= f.label :illumination_condition, t('core.illumination_condition_field') %><br />
    <%= f.select :illumination_condition, Core::ILLUMINATION_CONDITIONS  %>
  </div>

  <div>
    <%= f.label :another_place, t('core.another_place_field') %><br />
    <div class= "field_with_complement_info">
      <%= f.check_box :another_place, :value => false %>
      <%= t('yyes') %>
    </div>
  </div>

  <script>
    $(document).ready(function() {
        $("#core_another_place").change(function() {
            if ($("#core_another_place").is(':checked')){
              jQuery('#core_another_place_desc_div').attr('style','visibility:visible; !important');
              jQuery('#another_place_desc').focus();
            }
            else{
              jQuery('#core_another_place_desc_div').attr('style','visibility:hidden; !important');
            }
        });
    });
  </script>

  <div class="invisible" id="core_another_place_desc_div">
    <%= f.label :another_place_desc, t('which_s') %>
    <%= f.text_field :another_place_desc %>
  </div>

  <div>
    <%= f.label :bathroom, t('core.bathroom_field') %><br />
    <%= f.check_box :bathroom, :value => false %>
    <%= t('yyes') %>
  </div>

  <div>
    <%= f.label :kitchen, t('core.kitchen_field') %><br />
    <%= f.check_box :kitchen, :value => false %>
    <%= t('yyes') %>
  </div>

  <div>
    <%= render "displacement_fields" %>
  </div>

  <div>
    <%= f.label :coordenation_analysis, t('core.coordenation_analysis_field') %><br />
    <%= f.text_area :coordenation_analysis %>
  </div>

  <div>
    <%= f.label :visit_on, t('core.visit_on_field') %><br />
    <%= f.date_select :visit_on %>
  </div>

  <div>
    <%= f.label :who_visited, t('core.who_visited_field') %><br />
    <%= f.text_field :who_visited %>
  </div>

  <div class="actions">
    <%= f.submit button %>
  </div>
<% end %>

