:javascript
  $(document).ready(function() {
    show_field("#core_place", '#core_place_desc_div', 'select', 6)
    show_field("#core_illumination_type", '#core_illumination_type_desc_div', 'select', 2)
    show_field("#core_community_type", '#core_community_type_desc_div', 'select', 4)

    var checkbox_fields = [
        ["#partner_resource_id_1", '#core_resource_desc_div'],
        ["#seat_type_id_1", '#core_seat_type_desc_div'],
        ["#displacement_id_0_9", '#core_displacement_desc_0_div'],
        ["#displacement_id_1_9", '#core_displacement_desc_1_div'],
        ["#core_another_place_true", '#core_another_place_desc_div'],
        ["#core_board_true", '#board_type_div'],
        ["#core_has_restroom_true", '#total_restroom_div'],
        ["#core_has_computers_true", '#total_computers_div']
      ];

    checkbox_fields.forEach(function(field) {  
      show_field(field[0], field[1], 'checkbox', '')
    });  
    
  });

= semantic_form_for(@core, :html => {:id => 'formframe'}) do |f|
  - if @core.errors.any?
    #error_explanation
      %ul
        - @core.errors.full_messages.each do |msg|
          %li= msg
  %div
    = f.label :name, 'Localidade'
    %br
    = f.text_field :name
  %div{:style => hidden_fields}
    = f.label :place_description, 'Identificação do espaço'
    %br
    = f.text_area :place_description, :cols => 100, :rows => 5
    = f.hidden_field :city_id, :value => session[:city_id]
  %div
    = f.label :community, t('core.community')
    %br
    = f.text_field :community
  %div
    = f.label :address, t('core.address')
    %br
    = f.text_field :address, :size => 100
  %div{:style => hidden_fields}
    = f.label :number, 'Número'
    %br
    = f.text_field :number
  %div{:style => hidden_fields}
    = f.label :zip_code, 'CEP'
    %br
    = f.text_field :zip_code
    :javascript
        $(document).ready(function() {
          $("#core_zip_code").mask("99999-999");
        });

  %div
    .field_with_complement_info
      = f.label :community_type, t('core.community_field')
      %br
      = f.select :community_type, Core::COMMUNITY_TYPES, :prompt => "Selecione"
      %div{:style => hidden_fields}
        #core_community_type_desc_div.invisible
          = f.label :community_type_desc, t('which')
          = f.text_field :community_type_desc
        :javascript
          $(document).ready(function() {
              $("#core_community_type").change(function() {
                  var value = $(this).val();
                  if (value == 4){
                    jQuery('#core_community_type_desc_div').attr('style','display:block; !important');
                    jQuery('#core_community_type_desc').focus();
                  }
                  else{
                    jQuery('#core_community_type_desc_div').attr('style','display:none; !important');
                  }
              });
          });
  %div
    = f.label :place, t('core.place_field')
    %br
    .field_with_complement_info
      = f.select :place, Core::PLACES, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#core_place").change(function() {
                var value = $(this).val();
                if (value == 6){
                  jQuery('#core_place_desc_div').attr('style','display:block; !important');
                  jQuery('#core_place_desc').focus();
                }
                else{
                  jQuery('#core_place_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #core_place_desc_div.invisible
      = f.label :place_desc, t('which')
      = f.text_field :place_desc
  %div
    .gray_border
      %h2= t('core.period_field')
    %br
    - f.fields_for :periods do |builder|
      = render "period_fields", :f => builder
    %div
      .form_actions
        .add
          = link_to_add_fields t('period.new'), f, :periods
  %div
    = render "partner_resources_fields"
  %div{:style => hidden_fields}
    = f.label :resources_observation, "Observação"
    %br
    = f.text_area :resources_observation, :cols => 100, :rows => 5
  %div
    = f.label :institution_name, t('core.name_field')
    %br
    = f.text_field :institution_name
  %div
    = f.label :responsible, t('core.responsible_field')
    %br
    = f.text_field :responsible
  %div
    .gray_border
      %h2= t('core.phones_field')
    %br
    - f.fields_for :phones do |builder|
      = render "/layouts/shared/phone_fields", :f => builder
    %div
    .form_actions
      .add
        = link_to_add_fields t('phone.new'), f, :phones, "/layouts/shared/"
    
  %div
    = f.label :email, t('core.email_field')
    %br
    = f.text_field :email
  %div
    = f.label :main_activity, t('core.main_activity_field')
    %br
    = f.text_field :main_activity, :size => 100
  %div
    .gray_border
      %h2= t('core.physical_conditions_field')
    %br
    = f.label :size, t('core.size.title')
    %br
    = f.select :size, Core::SIZES, :prompt => "Selecione"
  %div
    = f.input :board, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
    :javascript
      $(document).ready(function() {
          $("#core_board_true").change(function() {
              if ($("#core_board_true").is(':checked')){
                jQuery('#board_type_div').attr('style','display:block; !important');
                jQuery('#core_board_type').focus();
              }
          });
          $("#core_board_false").change(function() {
              if ($("#core_board_false").is(':checked')){
                jQuery('#board_type_div').attr('style','display:none; !important');
              }
          });
          
      });
  %div
    #board_type_div{:style => "display: none;"}
      = f.label :board_type, t('core.board_type_field')
      %br
      = f.select :board_type, Core::BOARD_TYPES, :prompt => "Selecione"
  %div
    = render "seat_types_fields"
    %div
      = f.label :total_seats, t('core.total_seats_field')
      %br
      = f.select :total_seats, Core::TOTAL_SEATS, :prompt => "Selecione"
    %div
      = render "desk_types_fields"
    %div
      = f.label :illumination_type, t('core.illumination_field')
      %br
      .field_with_complement_info
        = f.select :illumination_type, Core::ILLUMINATION_TYPES, :prompt => "Selecione"
        :javascript
          $(document).ready(function() {
              $("#core_illumination_type").change(function() {
                  var value = $(this).val();
                  if (value == 2){
                    jQuery('#core_illumination_type_desc_div').attr('style','display:block; !important');
                    jQuery('#core_illumination_type_desc').focus();
                  }
                  else{
                    jQuery('#core_illumination_type_desc_div').attr('style','display:none; !important');
                  }
              });
          });
      #core_illumination_type_desc_div.invisible
        = f.label :illumination_type_desc, t('which')
        = f.text_field :illumination_type_desc
    %div
      = f.label :illumination_condition, t('core.illumination_condition_field')
      %br
      = f.select :illumination_condition, Core::ILLUMINATION_CONDITIONS, :prompt => "Selecione"
    %div
      .field_with_complement_info
        = f.input :another_place, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
        :javascript
          $(document).ready(function() {
              $("#core_another_place_true").change(function() {
                  if ($("#core_another_place_true").is(':checked')){
                    jQuery('#core_another_place_desc_div').attr('style','display:block; !important');
                    jQuery('#another_place_desc').focus();
                  }
                  else{
                    jQuery('#core_another_place_desc_div').attr('style','display:none; !important');
                  }
              });
              $("#core_another_place_false").change(function() {
                  if ($("#core_another_place_false").is(':checked')){
                    jQuery('#core_another_place_desc_div').attr('style','display:none; !important');
                  }
              });
          });
      #core_another_place_desc_div.invisible
        = f.label :another_place_desc, t('which_s')
        = f.text_field :another_place_desc
    .textarea_div
      = f.label :coordenation_analysis, t('core.coordenation_analysis_field')
      %br
      = f.text_area :coordenation_analysis, :cols => 100, :rows => 5
    %div
      = f.label :visit_on, t('core.visit_on_field')
      %br
      = f.date_select :visit_on, :prompt => "Selecione"
    %div
      = f.label :who_visited, t('core.who_visited_field')
      %br
      = f.text_field :who_visited
    %div
      .field_with_complement_info
        = f.input :has_restroom, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
        :javascript
          $(document).ready(function() {
              $("#core_has_restroom_true").change(function() {
                  if ($("#core_has_restroom_true").is(':checked')){
                    jQuery('#total_restroom_div').attr('style','display:block; !important');
                    jQuery('#core_total_restroom').focus();
                  }
              });
              $("#core_has_restroom_false").change(function() {
                  if ($("#core_has_restroom_false").is(':checked')){
                    jQuery('#total_restroom_div').attr('style','display:none; !important');
                  }
              });
              
          });
      %div{:style => hidden_fields}
        #total_restroom_div.invisible
          = f.label :total_restroom, 'Quantos'
          = f.text_field :total_restroom
    %div{:style => hidden_fields}
      .field_with_complement_info
        = f.input :has_kitchen, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
    %div{:style => hidden_fields}
      = f.label :kitchen_observation, "Observação"
      %br
      = f.text_area :kitchen_observation, :cols => 100, :rows => 5
    %div{:style => hidden_fields}
      .field_with_complement_info
        = f.input :has_computers, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
        :javascript
          $(document).ready(function() {
              $("#core_has_computers_true").change(function() {
                  if ($("#core_has_computers_true").is(':checked')){
                    jQuery('#total_computers_div').attr('style','display:block; !important');
                    jQuery('#core_total_computers').focus();
                  }
              });
              $("#core_has_computers_false").change(function() {
                  if ($("#core_has_computers_false").is(':checked')){
                    jQuery('#total_computers_div').attr('style','display:none; !important');
                  }
              });
              
          });
        #total_computers_div.invisible
          = f.label :total_computers, 'Quantos'
          = f.text_field :total_computers
    %div{:style => hidden_fields}
      = f.label :computer_observation, "Observação"
      %br
      = f.text_area :computer_observation, :cols => 100, :rows => 5

    .actions
      = f.submit button
