<table>
  <tr>
    <td><%= t('period.day_of_week')%></td>
    <td><%= t('period.start_time')%></td>
    <td><%= t('period.end_time')%></td>
  </tr>
  <tr>
    <td>
      <%= f.check_box :day_of_week, :value => day_of_weeks_number %>
      <%= get_day_of_week(day_of_weeks_number) %>
    </td>
    <td>
      <%= f.time_select :start_time, {:minute_step => 10} %>
    </td>
    <td>
      <%= f.time_select :end_time, {:minute_step => 10} %>
    </td>
  </tr>
</table>

