:javascript

  $(document).ready(function() {
    zebraListing();
  });

%p
  %strong= 'Nome do núcleo:'
  %span= core.name

%p{:style => hidden_fields}
  %strong= 'Identificação do espaço:'
  %span= core.place_description.html_safe
%p
  %strong= "#{t('core.address')}:"
  %span= core.address
%p{:style => hidden_fields}
  %strong= 'Número'
  %span= core.number
%p{:style => hidden_fields}
  %strong= 'CEP'
  %span= core.zip_code
%p
  %strong= "#{t('core.community_type.title')}:"
  %span= core.community_type_to_s
%p{:style => hidden_fields}
  %strong= t('which')
  %span= core.community_type_desc
%p
  %strong= "#{t('core.place.title')}:" 
  %span
    = core.place_to_s
    - if !core.place_desc.blank?
      = "(#{core.place_desc})"
%p
  %strong Recursos disponibilizados pelos parceiros:
  - core.cores_partner_resources.each do |p|
    %span
      = p.partner_resource.try(:resource)
      - if !p.resource_desc.blank?
        %span= "(#{p.resource_desc})"

%p{:style => hidden_fields}
  %strong= 'Observação'
  %span= core.resources_observation

%p
  %strong= "Nome da instituição:"
  %span= core.institution_name
%p
  %strong= "#{t('core.responsible')}:" 
  %span= core.responsible
%p
  %strong= "E-mail:"
  %span= core.email
%p
  %strong= "#{t('core.main_activity')}:"
  %span= core.main_activity  
 
  - if core.board
    %strong= "#{t('core.board')}:"
    %span= "#{core.board_type_to_s}"
%p
  %strong= "Tamanho da sala:"
  %span= core.size_to_s
%p
  %strong= "#{t('core.total_seats.title')}:"
  %span= core.total_seats_to_s
%p
  %strong= "#{t('core.illumination_type.title')}:"
  %span
    = core.illumination_type_to_s
    - if !core.illumination_type_desc.blank?
      = " (#{core.illumination_type_desc})"
%p
  %strong= "#{t('core.illumination_condition.title')}:"
  %span= core.illumination_condition_to_s
%p
  %strong= "#{t('core.another_place')}:"
  - if !core.another_place_desc.blank?
    %span= core.another_place_desc
%p
  %strong= "#{t('core.coordenation_analysis_field')}:"
  %span= core.coordenation_analysis
%p
  %strong= "#{t('core.visit_on_field')}:"
  %span= core.visit_on.try(:strftime, '%d/%m/%Y')
%p
  %strong= "#{t('core.who_visited_field')}:"
  %span= core.who_visited

%p
  %strong= "Telefones:"
  %ul
    - core.phones.each do |p|
      %li= "(#{p.dd}) #{p.number} <i>#{p.phone_type_to_s}</i>".html_safe


%p{:style => hidden_fields}
  %strong= 'Banheiros'
  %span= core.total_restroom


%p{:style => hidden_fields}
  %strong= "Observação sobre a cozinha:"
  %span= core.kitchen_observation.html_safe


%p{:style => hidden_fields}
  %strong= "Observação sobre os computadores:"
  %span= core.computer_observation.html_safe

%p
  %strong= "Tipos de assentos:"
  %ul
    - core.cores_seat_types.each do |d|
      %li=  d.seat_type.seat_type
      - if !d.seat_type_desc.blank?
        %span.info= "(#{d.seat_type_desc})"
%p
  %strong= "Tipos de mesas:"
  %ul
    - core.desk_types.each do |d|
      %li=  d.desk_type