%h1= t('core.listing')
%table
  %tr
    %th= t('core.city')
    %th= t('core.community')
    %th
    %th
    %th
  - @cores.each do |core|
    %tr
      %td= core.city
      %td= core.community
      %td= link_to t('show'), core
      %td= link_to t('edit'), edit_core_path(core)
      %td= link_to t('delete'), core, :confirm => t('are_you_sure'), :method => :delete
%br/
