:javascript
  $(document).ready(function(){
    $('a.more').click(function(){
      $(this).parent().parent().next().children().children().slideToggle();
    })
  });


%h1.title= t('core.listing')
.actions 
  = render '/layouts/shared/add_button', :new_label=>t('core.new'), :new_path => new_core_path, :permission => :cores
= render '/layouts/shared/filter_bar'
%table{:class => 'list'}
  %thead
    %tr
      %th= t('core.name')
      %th= t('core.community')
      %th{:style => 'width: 20px;'}
      %th{:style => 'width: 20px;'}
  %tbody
    - @cores.each do |core|
      %tr{:class => 'more-click'}
        %td{:class => 'first-td'}=  raw"<a href='#' class='more'></a>"+core.name
        %td= core.community
        = render '/layouts/shared/edit_delete', :edit_path => edit_core_path(core), :delete_obj => core, :permission => :cores
      %tr{:class => 'more-info'}
        %td{:colspan => 4}
          %div
            = render 'show', :core => core
%br
