= link_to t('edit'), edit_core_path(@core)
|
\#{link_to t('back'), cores_path}
%br
%p
  %b= t('core.city')
  = @core.city.try(:name)
  %br
  %b= t('core.community') 
  = @core.community
  %br
  %b= t('core.address') 
  = @core.address
  %br
  %b= t('core.community_type.title')  
  = @core.community_type_to_s
  %br
  %b= t('core.place.title') 
  = @core.place_to_s
  - if !@core.place_desc.blank?
    = "(#{@core.place_desc})"
  %br
  %b= t('core.name')  
  = @core.name
  %br
  %b= t('core.responsible') 
  = @core.responsible
  %br
  %b= t('core.email') 
  = @core.email
  %br
  %b= t('core.main_activity') 
  = @core.main_activity  
  %br
  - if @core.board
    %b= t('core.board') 
    = "#{@core.board_type_to_s} (#{@core.size_to_s})"
  %br
  %b= t('core.total_seats.title')
  = @core.total_seats_to_s
  %br
  %b= t('core.illumination_type.title')
  = @core.illumination_type_to_s
  - if !@core.illumination_type_desc.blank?
    = " (#{@core.illumination_type_desc})"
  %br
  %b= t('core.illumination_condition.title')
  = @core.illumination_condition_to_s
  %br
  %b= t('core.another_place')
  = @core.another_place
  - if !@core.another_place_desc.blank?
    = @core.another_place_desc
  %br
  %b= t('core.coordenation_analysis_field')
  = @core.coordenation_analysis
  %br
  %b= t('core.visit_on_field')
  = @core.visit_on.try(:strftime, '%d/%m/%Y')
  %br
  %b= t('core.who_visited_field')
  = @core.who_visited