:javascript
  $(document).ready(function() {
    if ($("#student_house").val() == 5){
      jQuery('#student_house_desc_div').attr('style','display:block; !important');
    }

    if ($("#student_special_need").is(':checked')){
      jQuery('#student_special_need_desc_div').attr('style','display:block; !important');
    }

    if ($("#has_phone_true").is(':checked')){
      jQuery('#phones_div').attr('style','display:block; !important');
    }

    if ($("#internet_true").is(':checked')){
      jQuery('#internet_access_local_div').attr('style','display:block; !important');
    }

    if ($("#student_religion").val() == 7){
      jQuery('#student_religion_desc_div').attr('style','display:block; !important');
    }

    if ($("#student_zone").val() == 4){
      jQuery('#zone_desc_div').attr('style','display:block; !important');
    }

    if ($("#student_internet_access_local").val() == 3){
      jQuery('#internet_access_local_desc_div').attr('style','display:block; !important');
    }

    if (($("#student_education_level").val() == 5) || ($("#student_education_level").val() == 6)){
      jQuery('#education_level_place_div').attr('style','display:block; !important');
    }

    if ($("#student_house_type").val() == 6){
      jQuery('#student_house_type_desc_div').attr('style','display:block; !important');
    }

    if ($("#student_vision_loss").val() == 3){
      jQuery('#student_need_glasses_div').attr('style','display:block; !important');
    }

    if ($("#student_hearing_disability").val() == 3){
      jQuery('#student_hearing_device_div').attr('style','display:block; !important');
    }

    if (($("#student_physical_disability").val() == 2) || ($("#student_physical_disability").val() == 3)){
      jQuery('#student_need_accessible_room_div').attr('style','display:block; !important');
    }

    if ($("#student_social_participation").val() > 1){
      jQuery('#student_social_participation_desc_div').attr('style','display:block; !important');
    }

    if ($("#student_association").val() == 5){
      jQuery('#student_association_desc_div').attr('style','display:block; !important');
    }

    if ($("#student_cooperative").val() == 5){
      jQuery('#student_cooperative_desc_div').attr('style','display:block; !important');
    }

    if ($("#student_religion").val() == 7){
      jQuery('#student_religion_desc_div').attr('style','display:block; !important');
    }
  });
= semantic_form_for(@student, :html => {:id => 'formframe'}) do |f|
  - if @student.errors.any?
    #error_explanation
      %ul
        - @student.errors.full_messages.each do |msg|
          %li= msg
  %div{:style => hidden_fields}
    = f.label :identification_on, 'Identificação dos dados realizada em'
    %br
    = f.date_select :identification_on, {:start_year => 2010, :end_year => DateTime.now.year, :prompt => { :day => 'Selecione um dia', :month => 'Selecione um mês', :year => 'Selecione um ano'}}
  %div
    = f.label :educator_id, 'Monitor(a)'
    %br
    = f.select :educator_id, @educators, :prompt => "Selecione"
  %div
    = f.label :core_id, 'Localidade do núcleo'
    %br
    = f.select :core_id, @cores, :prompt => "Selecione"
  %div
    = f.label :room_id, t('student.room')
    %br
    = f.select :room_id, @rooms, :prompt => "Selecione"
  %div
    = f.label :sign_up_date_on, t('student.sign_up_date_on')
    %br
    = f.date_select :sign_up_date_on, {:start_year => 2010, :end_year => DateTime.now.year, :prompt => { :day => 'Selecione um dia', :month => 'Selecione um mês', :year => 'Selecione um ano'}}
  %div
    = f.label :class_start_date_on, t('student.class_start_date_on')
    %br
    = f.date_select :class_start_date_on, {:start_year => 2010, :end_year => DateTime.now.year, :prompt => { :day => 'Selecione um dia', :month => 'Selecione um mês', :year => 'Selecione um ano'}}
  %div{:style => hidden_fields}
    = f.label :nickname, "Apelido do alfabetizando(a)"
    %br
    = f.text_field :nickname
  %div
    = f.label :name, 'Nome do Alfabetizando(a)'
    %br
    = f.text_field :name
  - if session[:city_id].to_i <= 2
    = f.hidden_field :mother_name, :value => "Não necessário nessa etapa"
  - else
    %div
      = f.label :mother_name, 'Nome da mãe*'
      %br
      = f.text_field :mother_name
    
  %div{:style => hidden_fields}
    = f.label :father_name, 'Nome do pai'
    %br
    = f.text_field :father_name
  %div
    = f.label :age, t('student.age.title')
    %br
    = f.select :age, @ages, :prompt => "Selecione"
  %div
    = f.label :gender, t('student.gender')
    %br
    = f.select :gender, @genders, :prompt => "Selecione"
  %div
    = f.label :dob, t('student.dob')
    %br
    = f.date_select :dob, {:start_year => 1900, :end_year => DateTime.now.year, :prompt => { :day => 'Selecione um dia', :month => 'Selecione um mês', :year => 'Selecione um ano'}}
  %div{:style => hidden_fields}
    = f.label :email, "E-mail"
    %br
    = f.text_field :email
  %div
    = f.label :ethnicity, "A sua cor ou raça é"
    %br
    = f.select :ethnicity, @ethnicities, :prompt => "Selecione"
  %div
    = f.label :hometown, t('student.hometown')
    %br
    = f.text_field :hometown
  %div
    = f.label :state, "Estado de nascimento (UF)"
    %br
    = f.text_field :state
  %div
    = f.label :zone, t('student.zone')
    %br
    .field_with_complement_info
      = f.select :zone, @zones, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#student_zone").change(function() {
                var value = $(this).val();
                if (value == 4){
                  jQuery('#zone_desc_div').attr('style','display:block; !important');
                  jQuery('#student_zone_desc').focus();
                }
                else{
                  jQuery('#zone_desc_div').attr('style','display:none; !important');
                }
            });
        });
    %div{:style => hidden_fields}        
      #zone_desc_div.invisible
        %label= "Qual"
        = f.text_field :zone_desc

  %div
    = f.label :address, "Endereço"
    %br
    = f.text_field :address
  %div{:style => hidden_fields}
    = f.label :district, 'Comunidade/Bairro'
    %br
    = f.text_field :district
  %div{:style => hidden_fields}
    = f.label :number, 'Número'
    %br
    = f.text_field :number, :size => 5
  %div{:style => hidden_fields}
    = f.label :zip_code, 'CEP'
    %br
    = f.text_field :zip_code
    :javascript
      $(document).ready(function() {
        $("#student_zip_code").mask("99999-999");
      });
  %div
    = label_tag :has_phone, 'Possui telefone?'
    = "Sim"
    = radio_button_tag :has_phone, true, @student.phones.count > 0
    = "Não"
    = radio_button_tag :has_phone, false
    :javascript
      $(document).ready(function() {
          $("#has_phone_true").change(function() {
              if ($("#has_phone_true").is(':checked')){
                jQuery('#phones_div').attr('style','display:block; !important');
              }
              else{
                jQuery('#phones_div').attr('style','display:none; !important');
              }
          });
          $("#has_phone_false").change(function() {
              if ($("#has_phone_false").is(':checked')){
                jQuery('#phones_div').attr('style','display:none; !important');
              }
          });
        });
    
    #phones_div.invisible
      .gray_border
        %h2= t('student.phones')
      - f.fields_for :phones do |builder|
        = render "/layouts/shared/phone_fields", :f => builder
      %div
      .form_actions
        .add
          = link_to_add_fields t('phone.new'), f, :phones, "/layouts/shared/"
  %div
    = label_tag :internet, 'Acessa a Internet?'
    = "Sim"
    = radio_button_tag :internet, true, !@student.internet_access_local.blank?
    = "Não"
    = radio_button_tag :internet, false
    :javascript
      $(document).ready(function() {
          $("#internet_true").change(function() {
              if ($("#internet_true").is(':checked')){
                jQuery('#internet_access_local_div').attr('style','display:block; !important');
              }
              else{
                jQuery('#internet_access_local_div').attr('style','display:none; !important');
              }
          });
          $("#internet_false").change(function() {
              if ($("#internet_false").is(':checked')){
                jQuery('#internet_access_local_div').attr('style','display:none; !important');
              }
          });
        });
    
    %div{:style => hidden_fields}
      #internet_access_local_div.invisible
        %div
          = f.label :internet_access_local, "Local"
          %br
          = f.select :internet_access_local, Student::INTERNET_ACCESS_LOCAL, :prompt => "Selecione"
        :javascript
          $(document).ready(function() {
              $("#student_internet_access_local").change(function() {
                  var value = $(this).val();
                  if (value == 3){
                    jQuery('#internet_access_local_desc_div').attr('style','display:block; !important');
                    jQuery('#student_internet_access_local_desc').focus();
                  }
                  else{
                    jQuery('#internet_access_local_desc_div').attr('style','display:none; !important');
                  }
              });
          });
        #internet_access_local_desc_div.invisible
          %label= "Quais"
          = f.text_field :internet_access_local_desc
  %div{:style => hidden_fields}
    = f.label :rg, "Nº Identidade"
    %br
    = f.text_field :rg
  %div{:style => hidden_fields}
    = f.label :dob_id, "Nº Certidão de nascimento"
    %br
    = f.text_field :dob_id
  %div{:style => hidden_fields}
    = f.label :cpf, "Nº CPF"
    %br
    = f.text_field :cpf
  %div{:style => hidden_fields}
    = f.label :voter_id, "Nº Título de eleitor"
    %br
    = f.text_field :voter_id
  %div{:style => hidden_fields}
    = f.label :professional_id, "Nº Carteira profissional"
    %br
    = f.text_field :professional_id
  %div{:style => hidden_fields}
    = f.label :social_id, "Nº de identificação social - nis (pis/pasep/bolsa família)"
    %br
    = f.text_field :social_id
  
  %div
    = f.label :civil_status, t('student.civil_status')
    %br
    = f.select :civil_status, @civil_status, :prompt => "Selecione"
  %div
    = f.label :education_level, t('student.education_level.title')
    %br
    .field_with_complement_info
      = f.select :education_level, Student::EDUCATION_LEVELS, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#student_education_level").change(function() {
                var value = $(this).val();
                if ((value == 5) || (value == 6)){
                  jQuery('#education_level_place_div').attr('style','display:block; !important');
                  jQuery('#student_education_level_place').focus();
                }
                else{
                  jQuery('#education_level_place_div').attr('style','display:none; !important');
                }
            });
        });
      %div{:style => hidden_fields}
        #education_level_place_div.invisible
          %label= "Onde"
          = f.text_field :education_level_place

  %div{:style => hidden_fields}
    = f.label :familiar_income, 'Renda familiar'
    %br
    = f.select :familiar_income, Student::FAMILIAR_INCOME, :prompt => "Selecione"

  %div
    = f.label :actual_condition, t('student.actual_condition.title')
    %br
    = f.select :actual_condition, @actual_conditions, :prompt => "Selecione"
  %div
    = f.label :profession, t('student.profession.title')
    %br
    = f.text_field :profession
  %div
    = f.label :actual_occupation, t('student.profession.actual')
    %br
    = f.text_field :actual_occupation
  %div
    = f.label :worker_situation, t('student.profession.situation')
    %br
    = f.select :worker_situation, @worker_situations, :prompt => "Selecione"
  %div
    = f.label :worker_situation_type, t('student.profession.type')
    %br
    = f.select :worker_situation_type, @worker_situation_types, :prompt => "Selecione"
  %div
    = f.label :house, t('student.house')
    %br
    .field_with_complement_info
      = f.select :house, @houses, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#student_house").change(function() {
                var value = $(this).val();
                if (value == 5){
                  jQuery('#student_house_desc_div').attr('style','display:block; !important');
                  jQuery('#student_house_desc').focus();
                }
                else{
                  jQuery('#student_house_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #student_house_desc_div.invisible
      %label= t('which')
      = f.text_field :house_desc
  %div
    = f.label :house_type, "Tipo de moradia"
    %br
    .field_with_complement_info
      = f.select :house_type, Student::HOUSE_TYPES, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#student_house_type").change(function() {
                var value = $(this).val();
                if (value == 6){
                  jQuery('#student_house_type_desc_div').attr('style','display:block; !important');
                  jQuery('#student_house_type_desc').focus();
                }
                else{
                  jQuery('#student_house_type_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #student_house_type_desc_div.invisible
      %label= t('which')
      = f.text_field :house_type_desc

  %div
    .field_with_complement_info
      = f.input :special_need, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
      :javascript
        $(document).ready(function() {
            $("#student_special_need_true").change(function() {
                if ($("#student_special_need_true").is(':checked')){
                  jQuery('#student_special_need_desc_div').attr('style','display:block; !important');
                  jQuery('#student_special_need_desc').focus();
                }
                else{
                  jQuery('#student_special_need_desc_div').attr('style','display:none; !important');
                }
            });
            $("#student_special_need_false").change(function() {
                if ($("#student_special_need_false").is(':checked')){
                  jQuery('#student_special_need_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #student_special_need_desc_div.invisible
      %label= t('which')
      = f.text_field :special_need_desc

  %div{:style => hidden_fields}
    = f.label :vision_loss, "Deficiência visual - tem dificuldade permanente de enxergar?"
    %br
    .field_with_complement_info
      = f.select :vision_loss, Student::VISION_LOSS, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#student_vision_loss").change(function() {
                var value = $(this).val();
                if (value == 3){
                  jQuery('#student_need_glasses_div').attr('style','display:block; !important');
                }
                else{
                  jQuery('#student_need_glasses_div').attr('style','display:none; !important');
                }
            });
        });
    #student_need_glasses_div.invisible
      = f.input :need_glasses, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
  %div{:style => hidden_fields}
    = f.label :vision_loss_observation, "Observação"
    %br
    = f.text_area :vision_loss_observation, :cols => 100, :rows => 5

  %div{:style => hidden_fields}
    = f.label :hearing_disability, "Deficiência auditiva - tem dificuldade permanente de ouvir?"
    %br
    .field_with_complement_info
      = f.select :hearing_disability, Student::HEARING_DISABILITY, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#student_hearing_disability").change(function() {
                var value = $(this).val();
                if (value == 3){
                  jQuery('#student_hearing_device_div').attr('style','display:block; !important');
                }
                else{
                  jQuery('#student_hearing_device_div').attr('style','display:none; !important');
                }
            });
        });
    #student_hearing_device_div.invisible
      = f.input :hearing_device, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
  %div{:style => hidden_fields}
    = f.label :hearing_disability_observation, "Observação"
    %br
    = f.text_area :hearing_disability_observation, :cols => 100, :rows => 5


  %div{:style => hidden_fields}
    = f.label :physical_disability, "Deficiência física - tem dificuldade permanente para caminhar e/ou subir/descer degraus?"
    %br
    .field_with_complement_info
      = f.select :physical_disability, Student::PHYSICAL_DISABILITY, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#student_physical_disability").change(function() {
                var value = $(this).val();
                if ((value == 2) || (value == 3)){
                  jQuery('#student_need_accessible_room_div').attr('style','display:block; !important');
                }
                else{
                  jQuery('#student_need_accessible_room_div').attr('style','display:none; !important');
                }
            });
        });
    #student_need_accessible_room_div.invisible
      = f.input :need_accessible_room, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
  %div{:style => hidden_fields}
    = f.input :physical_disability_to_write, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
  %div{:style => hidden_fields}
    = f.label :physical_disability_observation, "Observação"
    %br
    = f.text_area :physical_disability_observation, :cols => 100, :rows => 5

  %div{:style => hidden_fields}
    = f.label :intelectual_disability, "Deficiência intelectual/mental - Tem alguma dificuldade permanente que limite a realização de atividades ligadas a:"
    = f.select :intelectual_disability, Student::INTELECTUAL_DISABILITY, :prompt => "Selecione"

  %div{:style => hidden_fields}
    = f.label :social_participation, "Participação social:"
    %br
    .field_with_complement_info
      = f.select :social_participation, Student::SOCIAL_PARTICIPATION, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#student_social_participation").change(function() {
                var value = $(this).val();
                if (value > 1){
                  jQuery('#student_social_participation_desc_div').attr('style','display:block; !important');
                }
                else{
                  jQuery('#student_social_participation_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #student_social_participation_desc_div.invisible
      %label= t('which')
      = f.text_field :social_participation_desc

  %div{:style => hidden_fields}
    = f.label :association, "Associação:"
    %br
    .field_with_complement_info
      = f.select :association, Student::ASSOCIATION, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#student_association").change(function() {
                var value = $(this).val();
                if (value == 5){
                  jQuery('#student_association_desc_div').attr('style','display:block; !important');
                }
                else{
                  jQuery('#student_association_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #student_association_desc_div.invisible
      %label= t('which')
      = f.text_field :association_desc

  %div{:style => hidden_fields}
    = f.label :cooperative, "Cooperativas:"
    %br
    .field_with_complement_info
      = f.select :cooperative, Student::COOPERATIVE, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#student_cooperative").change(function() {
                var value = $(this).val();
                if (value == 5){
                  jQuery('#student_cooperative_desc_div').attr('style','display:block; !important');
                }
                else{
                  jQuery('#student_cooperative_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #student_cooperative_desc_div.invisible
      %label= t('which')
      = f.text_field :cooperative_desc
  %br
  %div
    %br
    = f.label :religion, t('student.religion')
    %br
    .field_with_complement_info
      = f.select :religion, @religions, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#student_religion").change(function() {
                var value = $(this).val();
                if (value == 7){
                  jQuery('#student_religion_desc_div').attr('style','display:block; !important');
                  jQuery('#student_religion_desc').focus();
                }
                else{
                  jQuery('#student_religion_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #student_religion_desc_div.invisible
      %label= t('which')
      = f.text_field :religion_desc

  %div{:style => hidden_fields}
    = f.label :participation_reason, "Por que está participando do programa de alfabetização?"
    %br
    = f.text_area :participation_reason, :cols => 100, :rows => 5
  %div{:style => hidden_fields}
    = f.label :subjects, "Quais assuntos você gostaria que fossem trabalhados durante as aulas?"
    %br
    = f.text_area :subjects, :cols => 100, :rows => 5

  %div
    = f.label :observations, t('student.observations')
    %br
    = f.text_area :observations, :cols => 100, :rows => 5
    %br
  .actions
    = f.submit button
