:javascript
  $(document).ready(function() {
    if ($("#student_house").val() == 5){
      jQuery('#student_house_desc_div').attr('style','display:block; !important');
    }

    if ($("#student_special_need").is(':checked')){
      jQuery('#student_special_need_desc_div').attr('style','display:block; !important');
    }

    if ($("#student_religion").val() == 7){
      jQuery('#student_religion_desc_div').attr('style','display:block; !important');
    }
  });
= semantic_form_for(@student, :html => {:id => 'formframe'}) do |f|
  - if @student.errors.any?
    #error_explanation
      %ul
        - @student.errors.full_messages.each do |msg|
          %li= msg
  %div
    = f.label :educator_id, t('student.educator')
    %br
    = f.select :educator_id, @educators
  %div
    = f.label :core_id, t('student.core')
    %br
    = f.select :core_id, @cores
  %div
    = f.label :room_id, t('student.room')
    %br
    = f.select :room_id, @rooms
  %div
    = f.label :sign_up_date_on, t('student.sign_up_date_on')
    %br
    = f.date_select :sign_up_date_on
  %div
    = f.label :class_start_date_on, t('student.class_start_date_on')
    %br
    = f.date_select :class_start_date_on
  %div
    = f.label :name, t('student.name')
    %br
    = f.text_field :name
  %div
    = f.label :age, t('student.age.title')
    %br
    = f.select :age, @ages
  %div
    = f.label :gender, t('student.gender')
    %br
    = f.select :gender, @genders
  %div
    = f.label :dob, t('student.dob')
    %br
    = f.date_select :dob, {:start_year => 1900, :end_year => DateTime.now.year}
  %div
    = f.label :ethnicity, t('student.ethnicity')
    %br
    = f.select :ethnicity, @ethnicities
  %div
    = f.label :hometown, t('student.hometown')
    %br
    = f.text_field :hometown
  %div
    = f.label :state, t('student.state')
    %br
    = f.text_field :state
  %div
    = f.label :zone, t('student.zone')
    %br
    = f.select :zone, @zones
  %div
    = f.label :address, t('student.address')
    %br
    = f.text_field :address, :size => 100
  %div
    - phone_number = 0
    .gray_border
      %h2= t('student.phones')
    - f.fields_for :phones do |builder|
      = render "phone_fields", :f => builder, :number => phone_number
      - phone_number += 1
    %div
    .form_actions
      .add
        = link_to_add_fields t('phone.new'), f, :phones
  %div
    = f.label :civil_status, t('student.civil_status')
    %br
    = f.select :civil_status, @civil_status
  %div
    = f.label :education_level, t('student.education_level.title')
    %br
    = f.select :education_level, @education_levels
  %div
    = f.label :actual_condition, t('student.actual_condition.title')
    %br
    = f.select :actual_condition, @actual_conditions
  %div
    = f.label :profession, t('student.profession.title')
    %br
    = f.text_field :profession
  %div
    = f.label :actual_occupation, t('student.profession.actual')
    %br
    = f.text_field :actual_occupation
  %div
    = f.label :worker_situation, t('student.profession.situation')
    %br
    = f.select :worker_situation, @worker_situations
  %div
    = f.label :worker_situation_type, t('student.profession.type')
    %br
    = f.select :worker_situation_type, @worker_situation_types
  %div
    = f.label :house, t('student.house')
    %br
    .field_with_complement_info
      = f.select :house, @houses
      :javascript
        $(document).ready(function() {
            $("#student_house").change(function() {
                var value = $(this).val();
                if (value == 5){
                  jQuery('#student_house_desc_div').attr('style','display:block; !important');
                  jQuery('#student_house_desc').focus();
                }
                else{
                  jQuery('#student_house_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #student_house_desc_div.invisible
      %label= t('which')
      = f.text_field :house_desc
  %div
    .field_with_complement_info
      = f.input :special_need, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
      :javascript
        $(document).ready(function() {
            $("#student_special_need_true").change(function() {
                if ($("#student_special_need_true").is(':checked')){
                  jQuery('#student_special_need_desc_div').attr('style','display:block; !important');
                  jQuery('#student_special_need_desc').focus();
                }
                else{
                  jQuery('#student_special_need_desc_div').attr('style','display:none; !important');
                }
            });
            $("#student_special_need_false").change(function() {
                if ($("#student_special_need_false").is(':checked')){
                  jQuery('#student_special_need_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #student_special_need_desc_div.invisible
      %label= t('which')
      = f.text_field :special_need_desc
  %br
  %div
    %br
    = f.label :religion, t('student.religion')
    %br
    .field_with_complement_info
      = f.select :religion, @religions
      :javascript
        $(document).ready(function() {
            $("#student_religion").change(function() {
                var value = $(this).val();
                if (value == 7){
                  jQuery('#student_religion_desc_div').attr('style','display:block; !important');
                  jQuery('#student_religion_desc').focus();
                }
                else{
                  jQuery('#student_religion_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #student_religion_desc_div.invisible
      %label= t('which')
      = f.text_field :religion_desc
  %div
    = f.label :observations, t('student.observations')
    %br
    = f.text_area :observations
    %br
  .actions
    = f.submit button
