%p
  %b= t('student.sign_up_date_on')
  = student.sign_up_date_on.try(:strftime, "%d/%m/%Y")
%p
  %b= t('student.class_start_date_on')
  = student.class_start_date_on.try(:strftime, "%d/%m/%Y")
%p
  %b= t('student.age.title')
  = student.age_to_s
%p
  %b= t('student.gender')
  = student.gender_to_s
%p
  %b= t('student.dob')
  = student.dob.try(:strftime, "%d/%m/%Y")
%p
  %b= t('student.ethnicity')
  = student.ethnicity_to_s
%p
  %b= t('student.hometown')
  = student.hometown
%p
  %b= t('student.state')
  = student.state
%p
  %b= t('student.zone')
  = student.zone_to_s
%p
  %b= t('student.address')
  = student.address
%p
  %b= t('student.civil_status')
  = student.civil_status_to_s
%p
  %b= t('student.education_level.title')
  = student.education_level_to_s
%p
  %b= t('student.actual_condition.title')
  = student.actual_condition_to_s
%p
  %b= t('student.profession.title')
  = student.profession
%p
  %b= t('student.profession.actual')
  = student.actual_occupation
%p
  %b= t('student.profession.situation')
  = student.worker_situation_to_s
%p
  %b= t('student.profession.type')
  = student.worker_situation_type_to_s
%p
  %b= t('student.house')
  = student.house_to_s
  - if !student.house_desc.blank?
    = "(#{student.house_desc})"
%p
  %b= t('student.special_need')
  = student.special_need_to_s
  - if !student.special_need_desc.blank?
    = "(#{student.special_need_desc})"
%p
  %b= t('student.religion')
  = student.religion_to_s
  - if !student.religion_desc.blank?
    = "(#{student.religion_desc})"
%p
  %b= t('student.observations')
  = student.observations

%p
  %ul
  %b= "Telefones"
  - student.phones.each do |p|
    %li= "(#{p.dd}) #{p.number} <i>#{p.phone_type_to_s}</i>".html_safe