<h1><%= t('student.listing')%></h1>

<table>
  <tr>
    <th><%= t('student.educator')%></th>
    <th><%= t('student.core')%></th>
    <th><%= t('student.room')%></th>
    <th><%= t('student.name')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.educator.name if !student.educator.nil? %></td>
    <td><%= student.core.name if !student.core.nil? %></td>
    <td><%= student.room.name if !student.room.nil? %></td>
    <td><%= student.name %></td>
    <td><%= link_to t('show'), student %></td>
    <td><%= link_to t('edit'), edit_student_path(student) %></td>
    <td><%= link_to t('delete'), student, :confirm => t('are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('student.new'), new_student_path %>
