
:javascript
  $(document).ready(function(){
    $('a.more').click(function(){
      var value = $(this).prop("id");
      var display = $("#student_details_"+ value).css('display')
      if (display == 'none'){
        show_spinner(value);
        var address = "/students/" + value
        $.ajax({url: address});
      }
      $(this).parent().parent().next().children().children().slideToggle();
      return false;
    })
    var options = {additionalFilterTriggers: [$('#filter')], filter: 'false'};
    $('.list').tableFilter(options);
  });


%h1.title= t('student.listing')
.actions{:style => "width: 600px;"}
  = render '/layouts/shared/add_button', :new_label=>t('student.new'), :new_path => new_student_path, :permission => :students
  #show_students_without_mother
    = show_students_without_mother_or_all_students(1).html_safe
      

= render '/layouts/shared/filter_bar'
#students_list
  = render 'list'