:javascript
  $(document).ready(function(){
    $('.more-click').click(function(){
      $(this).next().children().children().slideToggle();
    })
    var options = {additionalFilterTriggers: [$('#filter')], filter: 'false'};
    $('.list').tableFilter(options);
  });

%h1.title= t('student.listing')
.actions 
  = render '/layouts/shared/add_button', :new_label=>t('student.new'), :new_path => new_student_path, :permission => :students

= link_to 'Visualizar alfabetizandos sem o nome da mãe', without_mother_name_path, :remote => true
= render '/layouts/shared/filter_bar'
#students_list
  = render 'list'