%p#notice= notice
%p
  %b= t('student.educator')
  = @student.educator.try(:name)
%p
  %b= t('student.core')
  = @student.core.try(:name)
%p
  %b= t('student.room')
  = @student.room.try(:name)
%p
  %b= t('student.sign_up_date_on')
  = @student.sign_up_date_on.try(:strftime, "%d/%m/%Y")
%p
  %b= t('student.class_start_date_on')
  = @student.class_start_date_on.try(:strftime, "%d/%m/%Y")
%p
  %b= t('student.name')
  = @student.name
%p
  %b= t('student.age.title')
  = @student.age
%p
  %b= t('student.gender')
  = @student.gender
%p
  %b= t('student.dob')
  = @student.dob.try(:strftime, "%d/%m/%Y")
%p
  %b= t('student.ethnicity')
  = @student.ethnicity
%p
  %b= t('student.hometown')
  = @student.hometown
%p
  %b= t('student.state')
  = @student.state
%p
  %b= t('student.zone')
  = @student.zone
%p
  %b= t('student.address')
  = @student.address
%p
  %b= t('student.civil_status')
  = @student.civil_status
%p
  %b= t('student.education_level.title')
  = @student.education_level
%p
  %b= t('student.actual_condition.title')
  = @student.actual_condition
%p
  %b= t('student.profession.title')
  = @student.profession
