<p id="notice"><%= notice %></p>

<p>
  <b>Educator:</b>
  <%= @student.educator %>
</p>

<p>
  <b>Core:</b>
  <%= @student.core %>
</p>

<p>
  <b>Room:</b>
  <%= @student.room %>
</p>

<p>
  <b>Sign up date on:</b>
  <%= @student.sign_up_date_on %>
</p>

<p>
  <b>Class start date on:</b>
  <%= @student.class_start_date_on %>
</p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Age:</b>
  <%= @student.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @student.gender %>
</p>

<p>
  <b>Dob:</b>
  <%= @student.dob %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= @student.ethnicity %>
</p>

<p>
  <b>Hometown:</b>
  <%= @student.hometown %>
</p>

<p>
  <b>State:</b>
  <%= @student.state %>
</p>

<p>
  <b>Zone:</b>
  <%= @student.zone %>
</p>

<p>
  <b>Address:</b>
  <%= @student.address %>
</p>

<p>
  <b>Civil status:</b>
  <%= @student.civil_status %>
</p>

<p>
  <b>Education level:</b>
  <%= @student.education_level %>
</p>

<p>
  <b>Actual condition:</b>
  <%= @student.actual_condition %>
</p>

<p>
  <b>Profession:</b>
  <%= @student.profession %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
