:javascript
  $(document).ready(function() {
    if ($("#educator_association").val() == 4){
      jQuery('#educator_association_desc_div').attr('style','display:block; !important');
    }

    if ($("#student_zone").val() == 4){
      jQuery('#zone_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_social_participations_attributes_0_union_movement").is(':checked')){
      jQuery('#union_movement_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_social_participations_attributes_0_ong").is(':checked')){
      jQuery('#ong_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_has_internet_true").is(':checked')){
      jQuery('#where_has_internet_div').attr('style','display:block; !important');
    }

    if ($("#educator_special_need_true").is(':checked')){
      jQuery('#special_need_type_div').attr('style','display:block; !important');
    }

    if ($("#educator_has_pc_false").is(':checked')){
      jQuery('#educator_has_pc_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_where_use_pc").val() == 4){
      jQuery('#where_use_pc_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_house").val() == 5){
      jQuery('#educator_house_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_education_level").val() > 1){
      jQuery('#educator_education_level_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_religion").val() == 7){
      jQuery('#educator_religion_desc_div').attr('style','display:block; !important');
    }

    if ($("#has_phone_true").is(':checked')){
      jQuery('#phones_div').attr('style','display:block; !important');
    }

    if ($("#internet_true").is(':checked')){
      jQuery('#internet_access_local_div').attr('style','display:block; !important');
    }

    if ($("#educator_know_social_network_true").is(':checked')){
      jQuery('#use_social_network_div').attr('style','display:block; !important');
    }

    if ($("#educator_which_social_network_true").is(':checked')){
      jQuery('#which_social_network_div').attr('style','display:block; !important');
    }

    if ($("#educator_internet_access_local").val() == 3){
      jQuery('#internet_access_local_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_house_type").val() == 6){
      jQuery('#educator_house_type_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_for_what_use_internet").val() == 4){
      jQuery('#for_what_use_internet_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_use_social_network").val() == 4){
      jQuery('#know_social_network_desc_div').attr('style','display:block; !important');
    }


    if ($("#educator_special_need_type").val() >= 1){
      jQuery('#educator_special_need_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_which_social_network").val() == 4){
      jQuery('#use_social_network_desc_div').attr('style','display:block; !important');
    }

    if ($("#educator_where_has_internet").val() == 3){
      jQuery('#where_has_internet_desc_div').attr('style','display:block; !important');
    }

  });
= semantic_form_for(@educator, :html => {:id => 'formframe'}) do |f|
  - if @educator.errors.any?
    #error_explanation
      %ul
        - @educator.errors.full_messages.each do |msg|
          %li= msg
  %div
    = f.label :name, "Nome do(a) alfabetizador(a):"
    %br
    = f.text_field :name
  %div
    %label= t('educator.room')
    %br
    - @rooms.each do |r|
      = check_box_tag 'educator[room_ids][]', r.id, @educator.rooms.include?(r)
      - if r.core.nil?
        = r.name
      - else
        = "#{r.core.name} - #{r.name}"
  %div
    = f.label :start_date_to_students, t('educator.start_date_to_students')
    %br
    = f.date_select :start_date_to_students, {:start_year => 1900}, :prompt => "Selecione"
  %div
    = f.label :core_id, "Localidade do núcleo:"
    %br
    = f.select :core_id, @cores, :prompt => "Selecione"
  %div
    = f.label :core_identification, "Identificação do núcleo:"
    %br
    = f.text_field :core_identification
  %div
    = f.label :age_range, "Faixa etária"
    %br
    = f.select :age_range, Educator::AGE_RANGE, :prompt => "Selecione"
  %div
    = f.label :gender, t('educator.gender')
    %br
    = f.select :gender, @genders, :prompt => "Selecione"
  %div
    = f.label :dob, t('educator.dob')
    %br
    = f.date_select :dob, {:start_year => 1900, :end_year => DateTime.now.year}
  %div
    = f.label :ethnicity, t('educator.ethnicity')
    %br
    = f.select :ethnicity, @ethnicities, :prompt => "Selecione"
  %div
    = f.label :hometown, t('educator.hometown')
    %br
    = f.text_field :hometown
  %div
    = f.label :state, "Estado de nascimento (UF)"
    %br
    = f.text_field :state
  %div
    = f.label :zone, t('educator.zone')
    %br
    .field_with_complement_info
      = f.select :zone, @zones, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#educator_zone").change(function() {
                var value = $(this).val();
                if (value == 4){
                  jQuery('#zone_desc_div').attr('style','display:block; !important');
                  jQuery('#educator_zone_desc').focus();
                }
                else{
                  jQuery('#zone_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #zone_desc_div.invisible
      %label= "Qual"
      = f.text_field :zone_desc
  %div
    = f.label :address, t('educator.address')
    %br
    = f.text_field :address, :size => 100
  %div
    = f.label :number, "Número"
    %br
    = f.text_field :number, :size => 5
  %div
    = f.label :district, "Comunidade/Bairro"
    %br
    = f.text_field :district
  %div
    = f.label :zip_code, "CEP"
    %br
    = f.text_field :zip_code
  :javascript
    $(document).ready(function() {
      $("#educator_zip_code").mask("99999-999");
    });
  %div
    = label_tag :has_phone, 'Possui telefone?'
    = "Sim"
    = radio_button_tag :has_phone, true, @educator.phones.count > 0
    = "Não"
    = radio_button_tag :has_phone, false
    :javascript
      $(document).ready(function() {
          $("#has_phone_true").change(function() {
              if ($("#has_phone_true").is(':checked')){
                jQuery('#phones_div').attr('style','display:block; !important');
              }
              else{
                jQuery('#phones_div').attr('style','display:none; !important');
              }
          });
          $("#has_phone_false").change(function() {
              if ($("#has_phone_false").is(':checked')){
                jQuery('#phones_div').attr('style','display:none; !important');
              }
          });
        });
    
    #phones_div.invisible
      .gray_border
        %h2= t('core.phones_field')
      - f.fields_for :phones do |builder|
        = render "/layouts/shared/phone_fields", :f => builder
      %div
      .form_actions
        .add
          = link_to_add_fields t('phone.new'), f, :phones, "/layouts/shared/"
  
  %div
    = label_tag :internet, 'Acessa a Internet?'
    = "Sim"
    = radio_button_tag :internet, true, !@educator.internet_access_local.blank?
    = "Não"
    = radio_button_tag :internet, false
    :javascript
      $(document).ready(function() {
          $("#internet_true").change(function() {
              if ($("#internet_true").is(':checked')){
                jQuery('#internet_access_local_div').attr('style','display:block; !important');
              }
              else{
                jQuery('#internet_access_local_div').attr('style','display:none; !important');
              }
          });
          $("#internet_false").change(function() {
              if ($("#internet_false").is(':checked')){
                jQuery('#internet_access_local_div').attr('style','display:none; !important');
              }
          });
        });
    
    #internet_access_local_div.invisible
      %div
        = f.label :internet_access_local, "Local"
        %br
        = f.select :internet_access_local, Student::INTERNET_ACCESS_LOCAL, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#educator_internet_access_local").change(function() {
                var value = $(this).val();
                if (value == 3){
                  jQuery('#internet_access_local_desc_div').attr('style','display:block; !important');
                  jQuery('#educator_internet_access_local_desc').focus();
                }
                else{
                  jQuery('#internet_access_local_desc_div').attr('style','display:none; !important');
                }
            });
        });
      #internet_access_local_desc_div.invisible
        %label= "Quais"
        = f.text_field :internet_access_local_desc

  %div
    = f.label :email, "E-mail"
    %br
    = f.text_field :email

  %div
    = f.label :civil_status, t('educator.civil_status')
    %br
    = f.select :civil_status, @civil_status, :prompt => "Selecione"

  %div
    = f.label :familiar_income, 'Renda familiar'
    %br
    = f.select :familiar_income, Student::FAMILIAR_INCOME, :prompt => "Selecione"

  .gray_border
    %h2= t('educator.personal_doc')
  %div
    = f.label :rg, t('educator.rg')
    %br
    = f.text_field :rg
  %div
    = f.label :cpf, t('educator.cpf')
    %br
    = f.text_field :cpf
  %div
    = f.label :voter_id, t('educator.voter_id')
    %br
    = f.text_field :voter_id
  %div
    = f.label :professional_id, t('educator.professional_id')
    %br
    = f.text_field :professional_id
    = f.label :professional_serie, t('educator.professional_serie')
    = f.text_field :professional_serie
  %div
    = f.label :birth_or_marriage_certificate_id, t('educator.birth_or_marriage_certificate_id')
    %br
    = f.text_field :birth_or_marriage_certificate_id
  %div
    = f.label :social_id, t('educator.social_id')
    %br
    = f.text_field :social_id
  %div
    = f.label :sons_number, t('educator.sons_number.title')
    %br
    = f.select :sons_number, @sons_number, :prompt => "Selecione"
  %div
    %b
      = t('educator.age_of_sons')
    1º
    \#{f.text_field :first_son_age, :size => 3}
    2º
    \#{f.text_field :second_son_age, :size => 3}
    3º
    \#{f.text_field :third_son_age, :size => 3}
    4º
    \#{f.text_field :forth_son_age, :size => 3}
  %div
    .gray_border
      %h2= t('educator.occupation')
    %label= t('professional_exp.title')
    = render "professional_exp_fields"
  %div
    .gray_border
      %h2= t('education_exp.title')
    %label= t('education_exp.learning_network')
    = render "education_exp_fields"
  %div
    = f.label :education_level, t('educator.education_level')
    %br
    .field_with_complement_info
      = f.select :education_level, @education_levels, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#educator_education_level").change(function() {
                var value = $(this).val();
                if (value > 1){
                  jQuery('#educator_education_level_desc_div').attr('style','display:block; !important');
                  jQuery('#educator_education_level_desc').focus();
                }
                else{
                  jQuery('#educator_education_level_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #educator_education_level_desc_div.invisible
      = f.label :education_level_desc, t('which')
      = f.text_field :education_level_desc
  %div
    = f.label :house, t('educator.house.title')
    %br
    .field_with_complement_info
      = f.select :house, @houses, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#educator_house").change(function() {
                var value = $(this).val();
                if (value == 5){
                  jQuery('#educator_house_desc_div').attr('style','display:block; !important');
                  jQuery('#educator_house_desc').focus();
                }
                else{
                  jQuery('#educator_house_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #educator_house_desc_div.invisible
      = f.label :house_desc, t('which')
      = f.text_field :house_desc
  %div
    = f.label :house_type, "Tipo de moradia"
    %br
    .field_with_complement_info
      = f.select :house_type, Student::HOUSE_TYPES, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#educator_house_type").change(function() {
                var value = $(this).val();
                if (value == 6){
                  jQuery('#educator_house_type_desc_div').attr('style','display:block; !important');
                  jQuery('#educator_house_type_desc').focus();
                }
                else{
                  jQuery('#educator_house_type_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #educator_house_type_desc_div.invisible
      %label= t('which')
      = f.text_field :house_type_desc
  
  %div
    .field_with_complement_info
      = f.input :special_need, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
      :javascript
        $(document).ready(function() {
            $("#educator_special_need_true").change(function() {
                if ($("#educator_special_need_true").is(':checked')){
                  jQuery('#special_need_type_div').attr('style','display:block; !important');
                  jQuery('#educator_special_need_type').focus();
                }
                else{
                  jQuery('#special_need_type_div').attr('style','display:none; !important');
                }
            });
            $("#educator_special_need_false").change(function() {
                if ($("#educator_special_need_false").is(':checked')){
                  jQuery('#special_need_type_div').attr('style','display:none; !important');
                }
            });
        });

    #special_need_type_div.invisible
      %label= t('which')
      = f.select :special_need_type, Educator::SPECIAL_NEED, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
          $("#educator_special_need_type").change(function() {
              var value = $(this).val();
              if (value >= 1){
                jQuery('#educator_special_need_desc_div').attr('style','display:block; !important');
                jQuery('#educator_special_need_desc').focus();
              }
              else{
                jQuery('#educator_special_need_desc_div').attr('style','display:none; !important');
              }
          });
        });
    #educator_special_need_desc_div.invisible
      %label= "Especifique"
      = f.text_field :special_need_desc
  
  %div
    = f.label :participation_reason, "Por que interessou-se pelo programa de alfabetização?"
    %br
    = f.text_area :participation_reason, :cols => 100, :rows => 5
  %div
    = f.input :travel_disponibility, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
  %div
    = f.label :last_books, "Quais foram os 3 últimos livros que você leu?"
    %br
    = f.text_area :last_books, :cols => 100, :rows => 5


  %div
    = f.label :tv_programs, "Cite 3 programas de televisão por ordem de interesse que assiste diariamente"
    %br
    = f.text_area :tv_programs, :cols => 100, :rows => 5
  %div
    = f.label :experience, "Você tem experiência em alfabetização de jovens e adultos? Conte-nos sobre."
    %br
    = f.text_area :experience, :cols => 100, :rows => 5
  %div
    = f.label :other_job, "Você tem compromisso com outro trabalho? Quais os dias da semana e horário?"
    %br
    = f.text_area :other_job, :cols => 100, :rows => 5
  %div
    = f.label :agree_with_any_period, "A educação de jovens e adultos pode acontecer em qualquer horário. Você concorda com essa afirmação? Por que?"
    %br
    = f.text_area :agree_with_any_period, :cols => 100, :rows => 5
  %div
    = f.label :what_teach, "O que se deve ensinar numa sala para jovens e adultos?"
    %br
    = f.text_area :what_teach, :cols => 100, :rows => 5
  %div
    = f.label :subjects, "Liste possíveis temas/conteúdos que gostaria de estudar e que ajudariam você a exercer seu papel de alfabetizador(a)"
    %br
    = f.text_area :subjects, :cols => 100, :rows => 5
  %div
    = f.input :has_pc, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
    :javascript
      $(document).ready(function() {
        $("#educator_has_pc_false").change(function() {
            if ($("#educator_has_pc_false").is(':checked')){
              jQuery('#educator_has_pc_desc_div').attr('style','display:block; !important');
              jQuery('#educator_has_pc_desc').focus();
            }
            else{
              jQuery('#educator_has_pc_desc_div').attr('style','display:none; !important');
            }
        });
        $("#educator_has_pc_true").change(function() {
            if ($("#educator_has_pc_true").is(':checked')){
              jQuery('#educator_has_pc_desc_div').attr('style','display:none; !important');
            }
        });
      });
    #educator_has_pc_desc_div.invisible
      %div
        = f.label :where_use_pc, "Se não, onde acessa:"
        %br
        = f.select :where_use_pc, Educator::WHERE_USE_PC, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
          $("#educator_where_use_pc").change(function() {
              var value = $(this).val();
              if (value == 4){
                jQuery('#where_use_pc_desc_div').attr('style','display:block; !important');
                jQuery('#educator_where_use_pc_desc').focus();
              }
              else{
                jQuery('#where_use_pc_desc_div').attr('style','display:none; !important');
              }
          });
        });

      #where_use_pc_desc_div.invisible
        %div
          = f.label :where_use_pc_desc, "Quais"
          %br
          = f.text_field :where_use_pc_desc
      

  %div
    = f.input :has_internet, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
    :javascript
      $(document).ready(function() {
        $("#educator_has_internet_true").change(function() {
            if ($("#educator_has_internet_true").is(':checked')){
              jQuery('#where_has_internet_div').attr('style','display:block; !important');
            }
            else{
              jQuery('#where_has_internet_div').attr('style','display:none; !important');
            }
        });
        $("#educator_has_internet_false").change(function() {
            if ($("#educator_has_internet_false").is(':checked')){
              jQuery('#where_has_internet_div').attr('style','display:none; !important');
            }
        });
      });
    #where_has_internet_div.invisible
      %div
        = f.label :where_has_internet, "Onde"
        %br
        = f.select :where_has_internet, Educator::WHERE_HAS_INTERNET, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
          $("#educator_where_has_internet").change(function() {
              var value = $(this).val();
              if (value == 3){
                jQuery('#where_has_internet_desc_div').attr('style','display:block; !important');
                jQuery('#educator_where_has_internet_desc').focus();
              }
              else{
                jQuery('#where_has_internet_desc_div').attr('style','display:none; !important');
              }
          });
        });

      #where_has_internet_desc_div.invisible
        %div
          = f.label :where_has_internet_desc, "Quais"
          %br
          = f.text_field :where_has_internet_desc

  %div
    = f.label :about_pc_use, "Sobre o uso do computador, você:"
    %br
    = f.select :about_pc_use, Educator::ABOUT_PC_USE, :prompt => "Selecione"
  %div
    = f.label :which_uses, "Quais usos que você faz do computador"
    %br
    = f.select :which_uses, Educator::WHICH_USES, :prompt => "Selecione"

  %div
    = f.label :for_what_use_internet, "O uso que faz da Internet visa ao:"
    %br
    .field_with_complement_info
      = f.select :for_what_use_internet, Educator::FOR_WHAT_USE_INTERNET, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
          $("#educator_for_what_use_internet").change(function() {
              var value = $(this).val();
              if (value == 4){
                jQuery('#for_what_use_internet_desc_div').attr('style','display:block; !important');
                jQuery('#educator_for_what_use_internet_desc').focus();
              }
              else{
                jQuery('#for_what_use_internet_desc_div').attr('style','display:none; !important');
              }
          });
        });
      #for_what_use_internet_desc_div.invisible
        = "Quais"
        = f.text_field :for_what_use_internet_desc

  %div
    = f.input :know_social_network, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
    :javascript
      $(document).ready(function() {
          $("#educator_know_social_network_true").change(function() {
              if ($("#educator_know_social_network_true").is(':checked')){
                jQuery('#use_social_network_div').attr('style','display:block; !important');
              }
              else{
                jQuery('#use_social_network_div').attr('style','display:none; !important');
              }
          });
          $("#educator_know_social_network_false").change(function() {
              if ($("#educator_know_social_network_false").is(':checked')){
                jQuery('#use_social_network_div').attr('style','display:none; !important');
              }
          });
        });
    #use_social_network_div.invisible
      = f.label :use_social_network, "Qual"
      = f.select :use_social_network, Educator::SOCIAL_NETWORK, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
          $("#educator_use_social_network").change(function() {
              var value = $(this).val();
              if (value == 4){
                jQuery('#know_social_network_desc_div').attr('style','display:block; !important');
                jQuery('#educator_know_social_network_desc').focus();
              }
              else{
                jQuery('#know_social_network_desc_div').attr('style','display:none; !important');
              }
          });
        });
      #know_social_network_desc_div.invisible
        = "Quais"
        = f.text_field :know_social_network_desc
  %div
    = f.input :which_social_network, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
    :javascript
      $(document).ready(function() {
          $("#educator_which_social_network_true").change(function() {
              if ($("#educator_which_social_network_true").is(':checked')){
                jQuery('#which_social_network_div').attr('style','display:block; !important');
              }
              else{
                jQuery('#which_social_network_div').attr('style','display:none; !important');
              }
          });
          $("#educator_which_social_network_false").change(function() {
              if ($("#educator_which_social_network_false").is(':checked')){
                jQuery('#which_social_network_div').attr('style','display:none; !important');
              }
          });
        });
    #which_social_network_div.invisible
      = f.label :which_social_network, "Qual"
      = f.select :which_social_network, Educator::SOCIAL_NETWORK, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
          $("#educator_which_social_network").change(function() {
              var value = $(this).val();
              if (value == 4){
                jQuery('#use_social_network_desc_div').attr('style','display:block; !important');
                jQuery('#educator_use_social_network_desc').focus();
              }
              else{
                jQuery('#use_social_network_desc_div').attr('style','display:none; !important');
              }
          });
        });
      #use_social_network_desc_div.invisible
        = "Quais"
        = f.text_field :use_social_network_desc





  %div
    = f.label :observation, "Espaço para observações gerais"
    %br
    = f.text_area :observation, :cols => 100, :rows => 5

  %div
    .gray_border
      %h2= t('social_participation.title')
    %br
    - f.fields_for :social_participations do |builder|
      = render "social_participation_fields", :f => builder
  %div
    = f.label :political_affiliation, t('educator.political_affiliation.title')
    %br
    = f.select :political_affiliation, @political_affiliations, :prompt => "Selecione"
  %div
    = f.label :political_party, t('educator.political_party')
    %br
    = f.select :political_party, @political_parties, :prompt => "Selecione"
  %div
    = f.label :religion, t('educator.religion.title')
    %br
    .field_with_complement_info
      = f.select :religion, @religions, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
          $("#educator_religion").change(function() {
              var value = $(this).val();
              if (value == 7){
                jQuery('#educator_religion_desc_div').attr('style','display:block; !important');
                jQuery('#educator_religion_desc').focus();
              }
              else{
                jQuery('#educator_religion_desc_div').attr('style','display:none; !important');
              }
          });
        });
      #educator_religion_desc_div.invisible
        = t('which')
        = f.text_field :religion_desc
  %div
    = f.label :association, t('educator.association.title')
    %br
    .field_with_complement_info
      = f.select :association, @associations, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
          $("#educator_association").change(function() {
              var value = $(this).val();
              if (value == 4){
                jQuery('#educator_association_desc_div').attr('style','display:block; !important');
                jQuery('#educator_association_desc').focus();
              }
              else{
                jQuery('#educator_association_desc_div').attr('style','display:none; !important');
              }
          });
        });
      #educator_association_desc_div.invisible
        = f.label :association_desc, t('which')
        = f.text_field :association_desc
  %div
    = f.label :cooperative, t('educator.cooperative.title')
    %br
    = f.select :cooperative, @cooperatives, :prompt => "Selecione"
  .actions
    = f.submit button
