:javascript
  $(document).ready(function(){
    $('a.more').click(function(){
      $(this).parent().parent().next().children().children().slideToggle();
      return false;
    })
  });


%h1.title= t('educator.listing')
.actions 
  = render '/layouts/shared/add_button', :new_label=>t('educator.new'), :new_path => new_educator_path, :permission => :educators
  - if current_user.admin?
    .presence_lists= link_to 'Exportar', educators_path(:format => :csv)
= render '/layouts/shared/filter_bar'

%table{:class => 'list'}
  %thead
    %tr
      %th= t('educator.name')
      %th{:style => 'width: 20px;'}
      %th{:style => 'width: 20px;'}
  %tbody
    - @educators.each do |educator|
      %tr{:class => 'more-click'}
        %td{:class => 'first-td'}= raw"<a href='#' class='more'></a>"+educator.name
        = render '/layouts/shared/edit_delete', :edit_path => edit_educator_path(educator), :delete_obj => educator, :permission => :educators
      %tr{:class => 'more-info'}
        %td{:colspan => 3}
          %div
            = render 'show', :educator => educator
%br
