:javascript
  $(document).ready(function(){
    datatable_list('.list', [1, 2, 3])
  });

%h1= t('educator.listing')
%table{:class => 'list'}
  %thead
    %tr
      %th= t('educator.name')
      %th
      %th
      %th
  %tbody
    - @educators.each do |educator|
      %tr
        %td= educator.name
        %td= link_to t('show'), educator
        %td= link_to t('edit'), edit_educator_path(educator)
        %td= link_to t('delete'), educator, :confirm => t('are_you_sure'), :method => :delete
%br
