= form_for @presence_list do |f|
  -if @presence_list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@presence_list.errors.count, "error")} prohibited this presence_list from being saved:"
      %ul
        - @presence_list.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :presence_at
    = f.date_select :presence_at
  .field
    = f.label :room
    = f.text_field :room
  .actions
    = f.submit 'Save'
