:javascript
  $(document).ready(function() {
    if ($("#coordinator_association").val() == 4){
      jQuery('#coordinator_association_desc_div').attr('style','display:block; !important');
    }

    if ($("#coordinator_social_participations_attributes_0_union_movement").is(':checked')){
      jQuery('#union_movement_desc_div').attr('style','display:block; !important');
    }

    if ($("#coordinator_social_participations_attributes_0_ong").is(':checked')){
      jQuery('#ong_desc_div').attr('style','display:block; !important');
    }

    if ($("#coordinator_house").val() == 5){
      jQuery('#coordinator_house_desc_div').attr('style','display:block; !important');
    }

    if ($("#coordinator_education_level").val() > 1){
      jQuery('#coordinator_education_level_desc_div').attr('style','display:block; !important');
    }

    if ($("#coordinator_religion").val() == 7){
      jQuery('#coordinator_religion_desc_div').attr('style','display:block; !important');
    }

    if($("select#coordinator_social_network_know").val() == 1){
      jQuery('#social_question').attr('style','display:block; !important');
    }

    if($("select#coordinator_social_network_use).val() == 1){
      jQuery('#social_options').attr('style','display:block; !important');
    }

    if($("select#coordinator_social_network).val() == 4){
      jQuery('#another_social').attr('style','display:block; !important');
    }

    if($("select#coordinator_has_msn).val() == 1){
      jQuery('#msn_frequency').attr('style','display:block; !important');
    }

  });
= semantic_form_for(@coordinator, :html => {:id => 'formframe'}) do |f|
  - if @coordinator.errors.any?
    #error_explanation
      %ul
        - @coordinator.errors.full_messages.each do |msg|
          %li= msg
  %div
    = f.label :name, t('coordinator.name')
    %br
    = f.text_field :name
  %div
    = f.label :core_id, t('coordinator.core')
    %br
    = f.select :core_id, @cores, :prompt => "Selecione"
    :javascript
      $(document).ready(function() {
          $("#coordinator_core_id").change(function() {
              var value = $(this).val();
              var address = "/coordinator_update_rooms/#{ (@coordinator.id.nil?)? 0 : @coordinator.id}/" + value
              $.ajax({url: address});
          });
      });



  %div
    %label= "Turmas"
    %br
    #rooms_field_div
      - @rooms.each do |r|
        = check_box_tag 'coordinator[room_ids][]', r.id, @coordinator.rooms.include?(r)
        = r.name
  %div
    = f.label :start_date_to_students, t('coordinator.start_date_to_students')
    %br
    = f.date_select :start_date_to_students, {:start_year => 1900, :prompt => { :day => 'Selecione um dia', :month => 'Selecione um mês', :year => 'Selecione um ano'}}
  %div
    = f.label :gender, t('coordinator.gender')
    %br
    = f.select :gender, @genders, :prompt => "Selecione"
  %div
    = f.label :dob, t('coordinator.dob')
    %br
    = f.date_select :dob, {:start_year => 1900, :end_year => DateTime.now.year, :prompt => { :day => 'Selecione um dia', :month => 'Selecione um mês', :year => 'Selecione um ano'}}
  %div
    = f.label :ethnicity, t('coordinator.ethnicity')
    %br
    = f.select :ethnicity, @ethnicities, :prompt => "Selecione"
  %div{:style => hidden_fields}
    = f.label :email, t('coordinator.email')
    %br
    = f.text_field :email
  %div
    = f.label :hometown, t('coordinator.hometown')
    %br
    = f.text_field :hometown
  %div
    = f.label :state, t('coordinator.state')
    %br
    = f.text_field :state
  %div
    = f.label :zone, t('coordinator.zone')
    %br
    = f.select :zone, @zones, :prompt => "Selecione"
  %div
    = f.label :address, t('coordinator.address')
    %br
    = f.text_field :address, :size => 100
  %div
    - phone_number = 0
    %label= t('core.phones_field')
    %br
    - f.fields_for :phones do |builder|
      = render "/layouts/shared/phone_fields", :f => builder, :number => phone_number
      - phone_number += 1
    %div
    .form_actions
      .add
        = link_to_add_fields t('phone.new'), f, :phones, "/layouts/shared/"
  %div
    = f.label :civil_status, t('coordinator.civil_status')
    %br
    = f.select :civil_status, @civil_status, :prompt => "Selecione"
  %b= t('coordinator.personal_doc')
  %div
    = f.label :rg, t('coordinator.rg')
    %br
    = f.text_field :rg
  %div
    = f.label :cpf, t('coordinator.cpf')
    %br
    = f.text_field :cpf
  %div
    = f.label :voter_id, t('coordinator.voter_id')
    %br
    = f.text_field :voter_id
  %div
    = f.label :professional_id, t('coordinator.professional_id')
    %br
    = f.text_field :professional_id
    = f.label :professional_serie, t('coordinator.professional_serie')
    = f.text_field :professional_serie
  %div
    = f.label :birth_or_marriage_certificate_id, t('coordinator.birth_or_marriage_certificate_id')
    %br
    = f.text_field :birth_or_marriage_certificate_id
  %div
    = f.label :social_id, t('coordinator.social_id')
    %br
    = f.text_field :social_id
  %div
    = f.label :sons_number, t('coordinator.sons_number.title')
    %br
    = f.select :sons_number, @sons_number, :prompt => "Selecione"
  %div
    %b
      = t('coordinator.age_of_sons')
    1º
    \#{f.text_field :first_son_age, :size => 3}
    2º
    \#{f.text_field :second_son_age, :size => 3}
    3º
    \#{f.text_field :third_son_age, :size => 3}
    4º
    \#{f.text_field :forth_son_age, :size => 3}
  %div
    .gray_border
      %h2= t('coordinator.occupation')
    %br
    %label= t('professional_exp.title')
    %br
    = render "professional_exp_fields"
  %div
    .gray_border
      %h2= t('education_exp.title')
    %br
    %label= t('education_exp.learning_network')
    %br
    = render "education_exp_fields"
  %div
    = f.label :education_level, t('coordinator.education_level')
    %br
    .field_with_complement_info
      = f.select :education_level, @education_levels, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#coordinator_education_level").change(function() {
                var value = $(this).val();
                if (value == 0 || value == 5 || value == 6 || value == 7){
                  jQuery('#coordinator_education_level_desc_div').attr('style','display:none; !important');
                  
                }
                else{
                  jQuery('#coordinator_education_level_desc_div').attr('style','display:block; !important');
                  jQuery('#coordinator_education_level_desc').focus();
                }
            });
        });
    #coordinator_education_level_desc_div.invisible
      = f.label :education_level_desc, t('which')
      = f.text_field :education_level_desc
  %div
    = f.label :house, t('coordinator.house.title')
    %br
    .field_with_complement_info
      = f.select :house, @houses, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#coordinator_house").change(function() {
                var value = $(this).val();
                if (value == 5){
                  jQuery('#coordinator_house_desc_div').attr('style','display:block; !important');
                  jQuery('#coordinator_house_desc').focus();
                }
                else{
                  jQuery('#coordinator_house_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #coordinator_house_desc_div.invisible
      = f.label :house_desc, t('which')
      = f.text_field :house_desc
  %div
    = f.label :house_type, t('coordinator.house_type')
    %br
    = f.select :house_type, @house_types, :prompt => "Selecione"
  %div
    = f.input :special_need, :as => :radio, :collection => [[t('yyes'), true], [t('nno'), false]]
  %div
    %label= t('social_participation.title')
    %br
    - f.fields_for :social_participations do |builder|
      = render "social_participation_fields", :f => builder
  %div
    = f.label :political_affiliation, t('coordinator.political_affiliation.title')
    %br
    = f.select :political_affiliation, @political_affiliations, :prompt => "Selecione"
  %div
    = f.label :political_party, t('coordinator.political_party')
    %br
    = f.select :political_party, @political_parties, :prompt => "Selecione"
  %div
    = f.label :religion, t('coordinator.religion.title')
    %br
    .field_with_complement_info
      = f.select :religion, @religions, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#coordinator_religion").change(function() {
                var value = $(this).val();
                if (value == 7){
                  jQuery('#coordinator_religion_desc_div').attr('style','display:block; !important');
                  jQuery('#coordinator_religion_desc').focus();
                }
                else{
                  jQuery('#coordinator_religion_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #coordinator_religion_desc_div.invisible
      %label= t('which')
      = f.text_field :religion_desc
  %div
    = f.label :association, t('coordinator.association.title')
    %br
    .field_with_complement_info
      = f.select :association, @associations, :prompt => "Selecione"
      :javascript
        $(document).ready(function() {
            $("#coordinator_association").change(function() {
                var value = $(this).val();
                if (value == 4){
                  jQuery('#coordinator_association_desc_div').attr('style','display:block; !important');
                  jQuery('#coordinator_association_desc').focus();
                }
                else{
                  jQuery('#coordinator_association_desc_div').attr('style','display:none; !important');
                }
            });
        });
    #coordinator_association_desc_div.invisible
      = f.label :association_desc, t('which')
      = f.text_field :association_desc
  %div
    = f.label :cooperative, t('coordinator.cooperative.title')
    %br
    = f.select :cooperative, @cooperatives, :prompt => "Selecione"
  
  %div{:style => hidden_fields}
    = f.label :literacy_exp, t('coordinator.literacy.experience')
    %br
    = f.text_area :literacy_exp, :cols => 60, :rows => 8

  %div{:style => hidden_fields}
    = f.label :literacy_availability, t('coordinator.literacy.availability')
    %br
    = f.text_area :literacy_availability, :cols => 60, :rows => 8

  %div{:style => hidden_fields}
    = f.label :can_travel, t('coordinator.travel')
    %br
    = f.radio_button :can_travel, true
    = t('yyes')
    = f.radio_button :can_travel, false
    = t('nno')

  %div{:style => hidden_fields}
    = f.label :literacy_justify, t('coordinator.literacy.justify')
    %br
    = f.text_area :literacy_justify, :cols => 60, :rows => 8
  
  %div{:style => hidden_fields}
    = f.label :anytime_literacy, t('coordinator.literacy.anytime')
    %br
    = f.text_area :anytime_literacy, :cols => 60, :rows => 8

  %div{:style => hidden_fields}
    = f.label :teach_what, t('coordinator.literacy.teach_what')
    %br
    = f.text_area :teach_what, :cols => 60, :rows => 8

  %div{:style => hidden_fields}
    = f.label :all_in_same_room, t('coordinator.literacy.all_in_same_room')
    %br
    = f.text_area :all_in_same_room, :cols => 60, :rows => 8
  
  %div{:style => hidden_fields}
    = f.label :study_content, t('coordinator.study_content')
    %br
    = f.text_area :study_content, :cols => 60, :rows => 8

  %div{:style => hidden_fields}
    = f.label :comunity_need_class, t('coordinator.comunity_need_class')
    %br
    = f.text_area :comunity_need_class, :cols => 60, :rows => 8

  %div{:style => hidden_fields}
    = f.label :organize_class, t('coordinator.organize_class')
    %br
    = f.text_area :organize_class, :cols => 60, :rows => 8

  %div{:style => hidden_fields}
    = f.label :computer_knowledge, t('coordinator.computer_knowledge')
    %br
    = f.select :computer_knowledge, @computer_knowledges, :prompt => "Selecione"

  %div{:style => hidden_fields}
    = f.label :computer_uses, t('coordinator.computer_use')
    %br
    = f.select :computer_uses, @computer_uses, :prompt => "Selecione"

  %div{:style => hidden_fields}
    = f.label :computer_target, t('coordinator.computer_target')
    %br
    = f.select :computer_target, @computer_targets, :prompt => "Selecione"

  %div{:style => hidden_fields}
    = f.label :internet_home, t('coordinator.internet_home')
    %br
    = f.select :internet_home, @internet_options, :prompt => "Selecione"
  
  %div{:style => hidden_fields}
    = f.label :email_read, t('coordinator.email_read')
    %br
    = f.select :email_read, @email_frequencies, :prompt => "Selecione"

  %div{:style => hidden_fields}
    = f.label :social_network_know, t('coordinator.social_network.know')
    %br
    = f.select :social_network_know, [[t('yyes'),1],[t('nno'),2]], :prompt => "Selecione"
    :javascript
      $(document).ready(function(){
        var selected = ""
        $("select#coordinator_social_network_know").change(function(){
          selected = $(this).val();
          if(selected == 1){
            $("#social_question").css("display","block")
          }
          else{
            $("#social_question").css("display","none")
          }

        });
      });
    #social_question
      = f.label :social_network_use, t('coordinator.social_network.use')
      %br
      = f.select :social_network_use, [[t('yyes'),1],[t('nno'),2]], :prompt => "Selecione"
      :javascript
        $(document).ready(function(){
          var selected = ""
          $("select#coordinator_social_network_use").change(function(){
            selected = $(this).val();
            if(selected == 1){
              $("#social_options").css("display","block")
            }
            else{
              $("#social_options").css("display","none")
            }

          });
        });
    #social_options
      = f.label :social_network, t('coordinator.social_network.wich')
      %br
      = f.select :social_network, @social_networks, :prompt => "Selecione"
      :javascript
        $(document).ready(function(){
          var selected = ""
          $("select#coordinator_social_network").change(function(){
            selected = $(this).val();
            if(selected == 4){
              $("#another_social").css("display","block")
            }
            else{
              $("#another_social").css("display","none")
            }

          });
        });
    #another_social{:style=>"display:none"}
      = f.label :another_social_network, t('coordinator.social_network.wich')
      %br
      = f.text_field :another_social_network

  %div{:style => hidden_fields}
    = f.label :has_msn, t('coordinator.msn.has')
    %br
    = f.select :has_msn, [[t('yyes'),1],[t('nno'),2]], :prompt => "Selecione"
    :javascript
      $(document).ready(function(){
        var selected = ""
        $("select#coordinator_has_msn").change(function(){
          selected = $(this).val();
          if(selected == 1){
            $("#msn_frequency").css("display","block")
          }
          else{
            $("#msn_frequency").css("display","none")
          }

        });
      });
    #msn_frequency
      = f.label :msn_use, t('coordinator.msn.use')
      %br
      = f.select :msn_use, [[t('yyes'),1],[t('nno'),2]], :prompt => "Selecione"
  
  %div{:style => hidden_fields}
    = f.label :blog_status, t('coordinator.blog')
    %br
    = f.select :blog_status, [[t('yyes'),1],[t('nno'),2]], :prompt => "Selecione"

  %div{:style => hidden_fields}
    = f.label :ead, t('coordinator.ead')
    %br
    = f.select :ead, [[t('yyes'),1],[t('nno'),2]], :prompt => "Selecione"
  
  %div{:style => hidden_fields}
    = f.label :obs, t('coordinator.obs')
    %br
    = f.text_area :obs, :cols => 60, :rows => 8

  .actions
    = f.submit button