<script>
  $(document).ready(function() {
    if ($("#coordinator_association").val() == 4){
      jQuery('#coordinator_association_desc_div').attr('style','visibility:visible; !important');
    }

    if ($("#coordinator_social_participations_attributes_0_union_movement").is(':checked')){
      jQuery('#union_movement_desc_div').attr('style','visibility:visible; !important');
    }

    if ($("#coordinator_social_participations_attributes_0_ong").is(':checked')){
      jQuery('#ong_desc_div').attr('style','visibility:visible; !important');
    }

    if ($("#coordinator_house").val() == 5){
      jQuery('#coordinator_house_desc_div').attr('style','visibility:visible; !important');
    }

    if ($("#coordinator_education_level").val() > 1){
      jQuery('#coordinator_education_level_desc_div').attr('style','visibility:visible; !important');
    }
  });
</script>

<%= form_for(@coordinator) do |f| %>
  <% if @coordinator.errors.any? %>
    <div id="error_explanation">


      <ul>
      <% @coordinator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, t('coordinator.name') %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= t('coordinator.room') %><br />
		<% @rooms.each do |r| %>
		  <%= check_box_tag 'coordinator[room_ids][]', r.id, @coordinator.rooms.include?(r) %>
		  <%= r.name %>
		<% end %>
	</div>

  <div>
    <%= f.label :start_date_to_students, t('coordinator.start_date_to_students') %><br />
    <%= f.date_select :start_date_to_students %>
  </div>

  <div>
    <%= f.label :core_id, t('coordinator.core') %><br />
    <%= f.select :core_id, @cores %>
  </div>

  <div>
    <%= f.label :gender, t('coordinator.gender') %><br />
    <%= f.select :gender, @genders %>
  </div>

  <div>
    <%= f.label :dob, t('coordinator.dob') %><br />
    <%= f.date_select :dob %>
  </div>

  <div>
    <%= f.label :ethnicity, t('coordinator.ethnicity') %><br />
    <%= f.select :ethnicity, @ethnicities %>
  </div>

  <div>
    <%= f.label :hometown, t('coordinator.hometown') %><br />
    <%= f.text_field :hometown %>
  </div>

  <div>
    <%= f.label :state, t('coordinator.state') %><br />
    <%= f.text_field :state %>
  </div>

  <div>
    <%= f.label :zone, t('coordinator.zone') %><br />
    <%= f.select :zone, @zones %>
  </div>

  <div>
    <%= f.label :address, t('coordinator.address') %><br />
    <%= f.text_field :address, :size => 100 %>
  </div>

  <div>
	<% phone_number = 0 %>
    <%= t('core.phones_field') %><br />
    <% f.fields_for :phones do |builder| %>
      <%= render "phone_fields", :f => builder, :number => phone_number %>
	  <% phone_number += 1 %>
    <% end %>
  </div>

  <div>
    <%= f.label :civil_status, t('coordinator.civil_status') %><br />
    <%= f.select :civil_status, @civil_status %>
  </div>

  <b><%= t('coordinator.personal_doc')%></b>

  <div>
    <%= f.label :rg, t('coordinator.rg') %><br />
    <%= f.text_field :rg %>
  </div>

  <div>
    <%= f.label :cpf, t('coordinator.cpf') %><br />
    <%= f.text_field :cpf %>
  </div>

  <div>
    <%= f.label :voter_id, t('coordinator.voter_id') %><br />
    <%= f.text_field :voter_id %>
  </div>

  <div>
    <%= f.label :professional_id, t('coordinator.professional_id') %><br />
    <%= f.text_field :professional_id %>
    <%= f.label :professional_serie, t('coordinator.professional_serie') %>
    <%= f.text_field :professional_serie %>
  </div>

  <div>
    <%= f.label :birth_or_marriage_certificate_id, t('coordinator.birth_or_marriage_certificate_id') %><br />
    <%= f.text_field :birth_or_marriage_certificate_id %>
  </div>

  <div>
    <%= f.label :social_id, t('coordinator.social_id') %><br />
    <%= f.text_field :social_id %>
  </div>

  <div>
    <%= f.label :sons_number, t('coordinator.sons_number.title') %><br />
    <%= f.select :sons_number, @sons_number %>
  </div>

  <div>
	  <b><%= t('coordinator.age_of_sons')%> </b>
    1ยบ
    <%= f.text_field :first_son_age, :size => 3 %>
		2ยบ
    <%= f.text_field :second_son_age, :size => 3 %>
		3ยบ
    <%= f.text_field :third_son_age, :size => 3 %>
		4ยบ
    <%= f.text_field :forth_son_age, :size => 3 %>
  </div>

	<div>
		<b><%= t('coordinator.occupation')%></b><br />
		<%= t('professional_exp.title')%><br />
    <%= render "professional_exp_fields" %>
	</div>
	
	<div>
		<b><%= t('education_exp.title')%></b><br />
		<%= t('education_exp.learning_network')%><br />
    <%= render "education_exp_fields" %>
	</div>
	
  <div>
    <%= f.label :education_level, t('coordinator.education_level') %><br />
    <div class= "field_with_complement_info"><%= f.select :education_level, @education_levels %></div>
  </div>

  <script>
    $(document).ready(function() {
        $("#coordinator_education_level").change(function() {
            var value = $(this).val();
            if (value > 1){
              jQuery('#coordinator_education_level_desc_div').attr('style','visibility:visible; !important');
              jQuery('#coordinator_education_level_desc').focus();
            }
            else{
              jQuery('#coordinator_education_level_desc_div').attr('style','visibility:hidden; !important');
            }
        });
    });
  </script>

  <div class="invisible" id="coordinator_education_level_desc_div">
    <%= f.label :education_level_desc, t('which') %>
    <%= f.text_field :education_level_desc %>
  </div>


  <div>
    <%= f.label :house, t('coordinator.house.title') %><br />
    <div class= "field_with_complement_info"><%= f.select :house, @houses %></div>
  </div>

  <script>
    $(document).ready(function() {
        $("#coordinator_house").change(function() {
            var value = $(this).val();
            if (value == 5){
              jQuery('#coordinator_house_desc_div').attr('style','visibility:visible; !important');
              jQuery('#coordinator_house_desc').focus();
            }
            else{
              jQuery('#coordinator_house_desc_div').attr('style','visibility:hidden; !important');
            }
        });
    });
  </script>

  <div class="invisible" id="coordinator_house_desc_div">
    <%= f.label :house_desc, t('which') %>
    <%= f.text_field :house_desc %>
  </div>

  <div>
    <%= f.label :house_type, t('coordinator.house_type') %><br />
    <%= f.select :house_type, @house_types %>
  </div>

  <div>
    <%= f.label :special_need, t('coordinator.special_need') %><br />
    <%= f.check_box :special_need, :value => false %>
    <%= t('yyes') %>
  </div>

  <div>
    <%= t('social_participation.title') %><br />
    <% f.fields_for :social_participations do |builder| %>
      <%= render "social_participation_fields", :f => builder %>
    <% end %>
  </div>
  <div>
    <%= f.label :political_affiliation, t('coordinator.political_affiliation.title') %><br />
    <%= f.select :political_affiliation, @political_affiliations %>
  </div>

  <div>
    <%= f.label :political_party, t('coordinator.political_party') %><br />
    <%= f.select :political_party, @political_parties %>
  </div>

  <div>
    <%= f.label :religion, t('coordinator.religion.title') %><br />
    <%= f.select :religion, @religions %>
  </div>

  <div>
    <%= f.label :association, t('coordinator.association.title') %><br />
    <div class= "field_with_complement_info"><%= f.select :association, @associations %></div>
  </div>

  <script>
    $(document).ready(function() {
        $("#coordinator_association").change(function() {
            var value = $(this).val();
            if (value == 4){
              jQuery('#coordinator_association_desc_div').attr('style','visibility:visible; !important');
              jQuery('#coordinator_association_desc').focus();
            }
            else{
              jQuery('#coordinator_association_desc_div').attr('style','visibility:hidden; !important');
            }
        });
    });
  </script>

  <div class="invisible" id="coordinator_association_desc_div">
    <%= f.label :association_desc, t('which') %>
    <%= f.text_field :association_desc %>
  </div>

  <div>
    <%= f.label :cooperative, t('coordinator.cooperative.title') %><br />
    <%= f.select :cooperative, @cooperatives %>
  </div>

  <div class="actions">
    <%= f.submit button %>
  </div>
<% end %>

