:javascript

  $(document).ready(function() {
    zebraListing();
  });
%p  
  %strong= "#{t('coordinator.core')}:"
  %span= coordinator.core.try(:name)
%p
  %strong= "#{t('coordinator.start_date_to_students')}:"
  %span= coordinator.start_date_to_students.try(:strftime, '%d/%m/%Y')
%p
  %strong= "#{t('coordinator.age')}:"
  %span= coordinator.age
%p
  %strong= "#{t('coordinator.gender')}:"
  %span= coordinator.gender_to_s
%p
  %strong= "#{t('coordinator.dob')}:"
  %span= coordinator.dob.try(:strftime, '%d/%m/%Y')
%p
  %strong= "#{t('coordinator.ethnicity')}:"
  %span= coordinator.ethnicity_to_s

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.email')}:"
  %span= coordinator.email

%p
  %strong= "#{t('coordinator.hometown')}:"
  %span= coordinator.hometown
%p
  %strong= "#{t('coordinator.state')}:"
  %span= coordinator.state
%p
  %strong= "#{t('coordinator.zone')}:"
  %span= coordinator.zone_to_s
%p
  %strong= "#{t('coordinator.address')}:"
  %span= coordinator.address
%p
  %strong= "#{t('coordinator.civil_status')}:"
  %span= coordinator.civil_status_to_s
%p
  %strong= "#{t('coordinator.rg')}:"
  %span= coordinator.rg
%p
  %strong= "#{t('coordinator.cpf')}:"
  %span= coordinator.cpf
%p
  %strong= "#{t('coordinator.voter_id')}:"
  %span= coordinator.voter_id
%p
  %strong= "#{t('coordinator.professional_id')}:"
  %span= coordinator.professional_id
%p
  %strong= "#{t('coordinator.professional_serie')}:"
  %span= coordinator.professional_serie
%p
  %strong= "#{t('coordinator.birth_or_marriage_certificate_id')}:"
  %span= coordinator.birth_or_marriage_certificate_id
%p
  %strong= "#{t('coordinator.social_id')}:"
  %span= coordinator.social_id
%p
  %strong= "#{t('coordinator.sons_number.title')}:"
  %span= coordinator.sons_number
%p
  - sons_age = [["primeiro", coordinator.first_son_age], ["segundo", coordinator.second_son_age], ["terceiro", coordinator.third_son_age], ["quarto", coordinator.forth_son_age]]
  - sons_age.each do |s|
    - if !s.last.blank?
      %strong= "Idade do #{s.first} filho:"
      = s.last
  
  %strong= "#{t('coordinator.education_level')}:"
  = coordinator.education_level_to_s
  - if !coordinator.education_level_desc.blank?
    = "(#{coordinator.education_level_desc})"
%p
  %strong= "#{t('coordinator.house.title')}:"
  = coordinator.house_to_s
  - if !coordinator.house_desc.blank?
    = "(#{coordinator.house_desc})"
%p
  %strong= "#{t('coordinator.house_type')}:"
  %span= coordinator.house_type_to_s
%p
  %strong= "#{t('coordinator.special_need')}:"
  %span= coordinator.special_need_to_s
%p
  %strong= "#{t('coordinator.political_affiliation.title')}:"
  %span= coordinator.political_affiliation_to_s
%p
  %strong= "#{t('coordinator.political_party')}:"
  %span= coordinator.political_party_to_s
  - if !coordinator.political_desc.blank?
    %span= coordinator.political_desc
  
%p
  %strong= "#{t('coordinator.religion.title')}:"
  %span= coordinator.religion_to_s
  - if !coordinator.religion_desc.blank?
    %span= "(#{coordinator.religion_desc})"
%p
  %strong= "#{t('coordinator.association.title')}:"
  %span= coordinator.association_to_s
  - if !coordinator.association_desc.blank?
    %span= coordinator.association_desc
%p
  %strong= "#{t('coordinator.cooperative.title')}:"
  %span= coordinator.cooperative_to_s

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.literacy.experience')}:"
  %span= coordinator.literacy_exp

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.literacy.availability')}:"
  %span= coordinator.literacy_availability

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.travel')}:"
  %span= coordinator.can_travel


%p{:style => hidden_fields}
  %strong= "#{t('coordinator.literacy.justify')}:"
  %span= coordinator.literacy_justify

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.literacy.anytime')}:"
  %span= coordinator.anytime_literacy

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.literacy.teach_what')}:"
  %span= coordinator.teach_what

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.literacy.all_in_same_room')}:"
  %span= coordinator.all_in_same_room

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.study_content')}:"
  %span= coordinator.study_content

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.comunity_need_class')}:"
  %span= coordinator.comunity_need_class

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.organize_class')}:"
  %span= coordinator.organize_class

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.computer_knowledge')}:"
  %span= coordinator.computer_knowledge

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.computer_use')}:"
  %span= coordinator.computer_uses

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.computer_target')}:"
  %span= coordinator.computer_target


%p{:style => hidden_fields}
  %strong= "#{t('coordinator.internet_home')}:"
  %span= coordinator.internet_home

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.email_read')}:"
  %span= coordinator.email_read

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.social_network.know')}:"
  %span= coordinator.social_network_know

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.msn.has')}:"
  %span= coordinator.has_msn

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.msn.use')}:"
  %span= coordinator.msn_use

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.blog')}:"
  %span= coordinator.blog_status

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.ead')}:"
  %span= coordinator.ead

%p{:style => hidden_fields}
  %strong= "#{t('coordinator.obs')}"
  %span= coordinator.obs

%p
  %strong= "Turmas em que participa:"
  %ul
    - coordinator.rooms.each do |r|
      - if r.core.try(:name).blank?
        %li= "#{r.name}"
      - else
        %li= "#{r.name} - #{r.core.try(:name)}"
%p
  %strong= "Telefones:"
  %ul
    - coordinator.phones.each do |p|
      %li= "(#{p.dd}) #{p.number} <i>#{p.phone_type_to_s}</i>".html_safe