:javascript
  $(document).ready(function(){
    $('.more-click').click(function(){
      $(this).next().children().children().slideToggle();
    })
    var options = {additionalFilterTriggers: [$('#filter')], filter: 'false'};
    $('.list').tableFilter(options);
  });

%h1.title= t('coordinator.listing')
.actions 
  = render '/layouts/shared/add_button', :new_label=>t('coordinator.new'), :new_path => new_coordinator_path, :permission => :coordinators
= render '/layouts/shared/filter_bar'

%table{:class => 'list'}
  %thead
    %tr
      %th= t('coordinator.name')
      %th{:style => 'width: 20px;'}
      %th{:style => 'width: 20px;'}
  %tbody
    - @coordinators.each do |coordinator|
      %tr{:class => 'more-click'}
        %td{:class => 'first-td'}= coordinator.name
        = render '/layouts/shared/edit_delete', :edit_path => edit_coordinator_path(coordinator), :delete_obj => coordinator, :permission => :coordinators
      %tr{:class => 'more-info'}
        %td{:colspan => 3}
          %div
            = render 'show', :coordinator => coordinator
%br
