%h1.title= t('user.listing')
.actions 
  = link_to t('user.new'), new_user_path
= render '/layouts/shared/filter_bar'

%table{:class => 'list'}
  %thead
    %tr
      %th= t('user.name')
      %th= t('user.admin')
      %th= t('user.access')
      %th{:style => 'width: 20px;'}
      %th{:style => 'width: 20px;'}
  %tbody
    - @users.each do |user|
      %tr{:class => 'more-click'}
        %td{:class => 'first-td'}= user.name
        %td= user.role_to_s
        %td= user.access
        %td{:class => 'td-editar'}= link_to t('edit'), edit_user_path(user), :class => 'editar'
        %td= link_to t('destroy'), user, :confirm => t('are_you_sure'), :method => :delete, :class => 'apagar'