= semantic_form_for(@room, :html => {:id => 'formframe'}) do |f|
  - if @room.errors.any?
    #error_explanation
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg
  %div
    = f.label :core_id, "Núcleo*"
    = f.select :core_id, @cores, :prompt => "Selecione"
  %div
    = f.label :name, t('room.name')
    = f.text_field :name
  %div
    = f.input :coordinators, :as => :check_boxes, :collection => @coordinators
  %div
    = f.input :educators, :as => :check_boxes, :collection => @educators
  .actions
    = f.submit button
