= semantic_form_for(@room) do |f|
  - if @room.errors.any?
    #error_explanation
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg
  %div
    = f.label :core_id, t('coordinator.core')
    %br
    = f.select :core_id, @cores
  .field 
    = f.input :coordinators, :as => :check_boxes, :collection => @coordinators
  .field 
    = f.input :educators, :as => :check_boxes, :collection => @educators
  .field
    = f.label :name, t('room.name')
    %br
    = f.text_field :name
  %div
    = label_tag t('core.period_field')
    %br
    - f.fields_for :periods do |builder|
      = render "period_fields", :f => builder
      %div
        = link_to_add_fields t('period.new'), f, :periods
  .actions
    = f.submit button
