%br
.fields
  .period_fields
    = t('period.day_of_week')
    = f.select :day_of_week, Period::DAYS_OF_WEEK
    = t('period.start_time')
    = f.time_select :start_time, {:minute_step => 10}
    = t('period.end_time')
    = f.time_select :end_time, {:minute_step => 10}
    = link_to_remove_fields t('remove'), f
%br
