:javascript

  $(document).ready(function() {
    zebraListing();
  });


%p
  %b= "Núcleo:"
  = "#{room.core.try(:city).try(:name)} - #{room.core.try(:community)}" 
%p
  %b= "#{t('room.coordinators')}:"
  %ul
    - room.coordinators.each do |coordinator|
      %li= link_to coordinator.name, coordinator

%p
  %b= "#{t('room.educators')}:"
  %ul
    - room.educators.each do |educator|
      %li= link_to educator.name, educator
- if room.periods.count > 0
  %p
    %b Horários:
    %ul
      - room.periods.each do |p|
        %li
          = "#{p.day_of_week_to_s}:"
          %b Início:
          = p.start_time.try(:strftime, "%H:%M")
          %b Fim:
          = p.end_time.try(:strftime, "%H:%M")
%p
  %b Total de alfabetizandos:
  = room.students.count
- if room.students.count > 0
  %p
    %b Alfabetizandos:
    %ul
      - room.students.each do |student|
        %li= link_to student.name, student

        

