:javascript
  $(document).ready(function(){
    $('a.more').click(function(){
      $(this).parent().parent().next().children().children().slideToggle();
    })
  });

%h1.title= t('room.listing')
.actions 
  = render '/layouts/shared/add_button', :new_label=>t('room.new'), :new_path => new_room_path, :permission => :rooms
= render '/layouts/shared/filter_bar'

%table{:class => 'list'}
  %thead
    %tr
      %th= t('room.name')
      %th= "Núcleo"
      %th{:style => 'width: 96px;'}
      %th{:style => 'width: 20px;'}
      %th{:style => 'width: 20px;'}
  %tbody
    - @rooms.each do |room|
      %tr{:class => 'more-click'}
        %td{:class => 'first-td'}= raw"<a href='#' class='more'></a>"+room.name
        %td= room.core.try(:name)
        %td= link_to 'Lista de presença', presences_list_path(:room_id => room.id), :class => "lista"
        = render '/layouts/shared/edit_delete', :edit_path => edit_room_path(room), :delete_obj => room, :permission => :rooms
      %tr{:class => 'more-info'}
        %td{:colspan => 4}
          %div
            = render 'show', :room => room
%br
