:javascript
  $(document).ready(function(){
    datatable_list('.list', [1, 2, 3])
  });

.actions_buttons
  = link_to t('room.new'), new_room_path, :class => 'formee-button'

%h1= t('room.listing')

%table{:class => 'list'}
  %thead
    %tr
      %th= t('room.name')
      %th
      %th
      %th
  %tbody
    - @rooms.each do |room|
      %tr
        %td= room.name
        %td= link_to t('show'), room
        %td= link_to t('edit'), edit_room_path(room)
        %td= link_to t('delete'), room, :confirm => t('are_you_sure'), :method => :delete
%br
