%h1.title= "Dias de aula"
.actions 
  = render '/layouts/shared/add_button', :new_label=> "Cadastrar aulas", :new_path => new_room_lecture_day_path(:room_id => params[:room_id]), :permission => :lecture_days
= render '/layouts/shared/filter_bar'
%table{:class => 'list'}
  %thead
    %tr
      %th= "Dia"
      %th= "Horário"
      %th{:style => 'width: 20px;'}
      %th{:style => 'width: 20px;'}
      %th{:style => 'width: 20px;'}
  %tbody
    - @lecture_days.each do |lecture_day|
      %tr{:class => 'more-click'}
        %td{:class => 'first-td'}= lecture_day.lecture_on_to_date.try(:strftime, '%d/%m/%Y')
        %td= "#{lecture_day.start_at.try(:strftime, '%H:%M')} às #{lecture_day.end_at.try(:strftime, '%H:%M')}"
        %td
          %div{:id => "cancelled_button_#{lecture_day.id}"}
            = generate_cancelled_button(lecture_day.cancelled, lecture_day.id).html_safe
        = render '/layouts/shared/edit_delete', :edit_path => edit_room_lecture_day_path(:room_id => params[:room_id], :id => lecture_day.id), :delete_obj => room_lecture_day_path(:id => lecture_day.id), :permission => :lecture_days
        