%p
  %b= t('world_reading.email')
  = world_reading.email
%p
  %b= t('world_reading.have_experience')
  = world_reading.have_experience
%p
  %b= t('world_reading.availability')
  = world_reading.availability
%p
  %b= t('world_reading.availability_to_travel')
  = world_reading.availability_to_travel_to_s
%p
  %b= t('world_reading.need_for_literacy')
  = world_reading.need_for_literacy
%p
  %b= t('world_reading.can_organize_rooms')
  = world_reading.can_organize_rooms
%p
  %b= t('world_reading.educator_wish')
  = world_reading.educator_wish
%p
  %b= t('world_reading.any_time')
  = world_reading.any_time
%p
  %b= t('world_reading.what_teach')
  = world_reading.what_teach
%p
  %b= t('world_reading.young_and_old_together')
  = world_reading.young_and_old_together
%p
  %b= t('world_reading.list_subjects')
  = world_reading.list_subjects
%p
  %b= t('world_reading.cu_title')
  = world_reading.computer_use_to_s
%p
  %b= t('world_reading.wu_title')
  = world_reading.what_use_to_s
%p
  %b= t('world_reading.aiu_title')
  = world_reading.about_internet_use_to_s
  - if !world_reading.about_internet_use_desc.blank?
    = "(#{world_reading.about_internet_use_desc})"
%p
  %b= t('world_reading.ict_title')
  = world_reading.internet_connection_type_to_s
%p
  %b= t('world_reading.wydii_title')
  = world_reading.what_you_do_in_internet_to_s
%p
  %b= t('world_reading.fer_title')
  = world_reading.frequency_email_reading_to_s
%p
  %b= "Faz buscas?"
  = world_reading.make_searches_to_s
%p
  %b= "Buscador preferido"
  = world_reading.prefered_search_engine
%p
  %b= "Rede social"
  = world_reading.social_networking_to_s
  - if !world_reading.social_networking_desc.blank?
    = "(#{world_reading.social_networking_desc})"
%p
  %b= "Lista de discussão"
  = world_reading.discussion_list_to_s
  - if !world_reading.discussion_list_desc.blank?
    = "(#{world_reading.discussion_list_desc})"
%p
  %b= "Participa de fóruns?"
  = world_reading.forum_to_s
  - if !world_reading.forum_desc.blank?
    = "(#{world_reading.forum_desc})"
%p
  %b= "Usa chat?"
  = world_reading.chat_to_s
%p
  %b= "Usa MSN?"
  = world_reading.msn_to_s
%p
  %b= "Usa com frequência MSN"
  = world_reading.use_msn_with_frequency_to_s
%p
  %b= "Tem blog?"
  = world_reading.has_blog_to_s
%p
  %b= "Compartilhar fotos e vídeos"
  = world_reading.share_photos_videos_to_s
%p
  %b= "Participa ou já participou de um curso a distância"
  = world_reading.e_learning_to_s
  - if !world_reading.e_learning_desc.blank?
    = "(#{world_reading.e_learning_desc})"