%p
  %b Email:
  = world_reading.email
%p
  %b Have experience:
  = world_reading.have_experience
%p
  %b Availability:
  = world_reading.availability
%p
  %b Availability to travel:
  = world_reading.availability_to_travel
%p
  %b Need for literacy:
  = world_reading.need_for_literacy
%p
  %b Can organize rooms:
  = world_reading.can_organize_rooms
%p
  %b Educator wish:
  = world_reading.educator_wish
%p
  %b Any time:
  = world_reading.any_time
%p
  %b What teach:
  = world_reading.what_teach
%p
  %b Young and old together:
  = world_reading.young_and_old_together
%p
  %b List subjects:
  = world_reading.list_subjects
%p
  %b Computer use:
  = world_reading.computer_use
%p
  %b What use:
  = world_reading.what_use
%p
  %b About internet use:
  = world_reading.about_internet_use
%p
  %b About internet use desc:
  = world_reading.about_internet_use_desc
%p
  %b Internet connection type:
  = world_reading.internet_connection_type
%p
  %b What you do in internet:
  = world_reading.what_you_do_in_internet
%p
  %b Frequency email reading:
  = world_reading.frequency_email_reading
%p
  %b Make searches:
  = world_reading.make_searches
%p
  %b Prefered search engine:
  = world_reading.prefered_search_engine
%p
  %b Social networking:
  = world_reading.social_networking
%p
  %b Social networking desc:
  = world_reading.social_networking_desc
%p
  %b Discussion list:
  = world_reading.discussion_list
%p
  %b Discussion list desc:
  = world_reading.discussion_list_desc
%p
  %b Forum:
  = world_reading.forum
%p
  %b Forum desc:
  = world_reading.forum_desc
%p
  %b Chat:
  = world_reading.chat
%p
  %b Msn:
  = world_reading.msn
%p
  %b Use msn with frequency:
  = world_reading.use_msn_with_frequency
%p
  %b Has blog:
  = world_reading.has_blog
%p
  %b Share photos videos:
  = world_reading.share_photos_videos
%p
  %b E learning:
  = world_reading.e_learning
%p
  %b E learning desc:
  = world_reading.e_learning_desc
%p
  %b Educator:
  = world_reading.educator
%p
  %b Coordinator:
  = world_reading.coordinator