<h1><%= t('world_reading.listing')%></h1>

<table>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @world_readings.each do |world_reading| %>
  <tr>
    <td><%= world_reading.email %></td>
    <td><%= link_to t('show'), world_reading %></td>
    <td><%= link_to t('edit'), edit_world_reading_path(world_reading) %></td>
    <td><%= link_to t('delete'), world_reading, :confirm => t('are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

