:javascript
  $(document).ready(function(){
    $('.more-click').click(function(){
      $(this).next().children().children().slideToggle();
    })
    var options = {additionalFilterTriggers: [$('#filter')], filter: 'false'};
    $('.list').tableFilter(options);
  });

%h1.title= t('world_reading.listing')
.actions 
  = link_to t('world_reading.new'), new_world_reading_path
= render '/layouts/shared/filter_bar'
  
%table{:class => 'list'}
  %thead
    %tr
      %th Pessoa
      %th Função
      %th Inserida em
      %th{:style => 'width: 20px;'}
      %th{:style => 'width: 20px;'}
  %tbody
    - @world_readings.each do |world_reading|
      %tr{:class => 'more-click'}
        %td{:class => 'first-td'}= world_reading.person
        %td= world_reading.person_funcion
        %td= world_reading.created_at.try(:strftime, "%d/%m/%Y")
        %td{:class => 'td-editar'}= link_to t('edit'), edit_world_reading_path(world_reading), :class => 'editar'
        %td= link_to t('destroy'), world_reading, :confirm => t('are_you_sure'), :method => :delete, :class => 'apagar'
      %tr{:class => 'more-info'}
        %td{:colspan => 4}
          %div
            = render 'show', :world_reading => world_reading
%br
