:javascript
  $(document).ready(function(){
    datatable_list('.list', [1, 2, 3])
  });

%h1= t('world_reading.listing')
%table{:class => 'list'}
  %thead
    %tr
      %th Email
      %th
      %th
      %th
  %tbody
    - @world_readings.each do |world_reading|
      %tr
        %td= world_reading.email
        %td= link_to t('show'), world_reading
        %td= link_to t('edit'), edit_world_reading_path(world_reading)
        %td= link_to t('delete'), world_reading, :confirm => t('are_you_sure'), :method => :delete
%br
