<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @world_reading.email %>
</p>

<p>
  <b>Have experience:</b>
  <%= @world_reading.have_experience %>
</p>

<p>
  <b>Availability:</b>
  <%= @world_reading.availability %>
</p>

<p>
  <b>Availability to travel:</b>
  <%= @world_reading.availability_to_travel %>
</p>

<p>
  <b>Need for literacy:</b>
  <%= @world_reading.need_for_literacy %>
</p>

<p>
  <b>Can organize rooms:</b>
  <%= @world_reading.can_organize_rooms %>
</p>

<p>
  <b>Educator wish:</b>
  <%= @world_reading.educator_wish %>
</p>

<p>
  <b>Any time:</b>
  <%= @world_reading.any_time %>
</p>

<p>
  <b>What teach:</b>
  <%= @world_reading.what_teach %>
</p>

<p>
  <b>Young and old together:</b>
  <%= @world_reading.young_and_old_together %>
</p>

<p>
  <b>List subjects:</b>
  <%= @world_reading.list_subjects %>
</p>

<p>
  <b>Computer use:</b>
  <%= @world_reading.computer_use %>
</p>

<p>
  <b>What use:</b>
  <%= @world_reading.what_use %>
</p>

<p>
  <b>About internet use:</b>
  <%= @world_reading.about_internet_use %>
</p>

<p>
  <b>About internet use desc:</b>
  <%= @world_reading.about_internet_use_desc %>
</p>

<p>
  <b>Internet connection type:</b>
  <%= @world_reading.internet_connection_type %>
</p>

<p>
  <b>What you do in internet:</b>
  <%= @world_reading.what_you_do_in_internet %>
</p>

<p>
  <b>Frequency email reading:</b>
  <%= @world_reading.frequency_email_reading %>
</p>

<p>
  <b>Make searches:</b>
  <%= @world_reading.make_searches %>
</p>

<p>
  <b>Prefered search engine:</b>
  <%= @world_reading.prefered_search_engine %>
</p>

<p>
  <b>Social networking:</b>
  <%= @world_reading.social_networking %>
</p>

<p>
  <b>Social networking desc:</b>
  <%= @world_reading.social_networking_desc %>
</p>

<p>
  <b>Discussion list:</b>
  <%= @world_reading.discussion_list %>
</p>

<p>
  <b>Discussion list desc:</b>
  <%= @world_reading.discussion_list_desc %>
</p>

<p>
  <b>Forum:</b>
  <%= @world_reading.forum %>
</p>

<p>
  <b>Forum desc:</b>
  <%= @world_reading.forum_desc %>
</p>

<p>
  <b>Chat:</b>
  <%= @world_reading.chat %>
</p>

<p>
  <b>Msn:</b>
  <%= @world_reading.msn %>
</p>

<p>
  <b>Use msn with frequency:</b>
  <%= @world_reading.use_msn_with_frequency %>
</p>

<p>
  <b>Has blog:</b>
  <%= @world_reading.has_blog %>
</p>

<p>
  <b>Share photos videos:</b>
  <%= @world_reading.share_photos_videos %>
</p>

<p>
  <b>E learning:</b>
  <%= @world_reading.e_learning %>
</p>

<p>
  <b>E learning desc:</b>
  <%= @world_reading.e_learning_desc %>
</p>

<p>
  <b>Educator:</b>
  <%= @world_reading.educator %>
</p>

<p>
  <b>Coordinator:</b>
  <%= @world_reading.coordinator %>
</p>


<%= link_to 'Edit', edit_world_reading_path(@world_reading) %> |
<%= link_to 'Back', world_readings_path %>
