
-if "#{@chart_type}" == "presence"
  :javascript
    var chart;
    $(document).ready(function() {
      drawPresenceChart('#{@graphic_title}', [#{@data[:xAxis]}], [#{@data[:series]}]);
    });
-else
  :javascript
    var chart;
    $(document).ready(function() {
      drawPieChart('#{@graphic_title}', [#{@data}]);
    });
  
#container
.second_report_links
  = generate_graphic_links(:column => @column, :core_id => @core_id, :room_id => @room_id).html_safe
  = link_to "Visualizar em PDF", show_report_path(:column => @column, :core_id => @core_id, :format => :pdf)
#second_report

:javascript
  $(document).ready(function() {
    $("tspan").map(function(){
      if ($(this).text() == "Highcharts.com"){
        $(this).remove();
      }
    })
  });

:javascript
  $(document).ready(function() {
    $('.second_report_link').click(function() {
      $("#second_report").html("")
      show_spinner('second_report');
    });
    
  });
