!!!
%html
  %head
    %title Alfa
    = stylesheet_link_tag :all
    = javascript_include_tag :all
    = csrf_meta_tag
  %body
    = link_to t('core.view'), cores_path
    |
    = link_to t('room.view'), rooms_path
    |
    = link_to t('coordinator.view'), coordinators_path
    |
    = link_to t('educator.view'), educators_path
    |
    = link_to t('student.view'), students_path
    |
    = link_to t('world_reading.view'), world_readings_path
    %br
    = link_to t('core.new'), new_core_path
    |
    = link_to t('room.new'), new_room_path
    |
    = link_to t('coordinator.new'), new_coordinator_path
    |
    = link_to t('educator.new'), new_educator_path
    |
    = link_to t('student.new'), new_student_path 
    |
    = link_to t('world_reading.new'), new_world_reading_path
    %p#notice= notice
    = yield
