!!!
%html
  %head
    %title Alfa
    = stylesheet_link_tag :all
    - js_files = ['jquery.min.js', 'jquery_ujs.js', 'jquery-rails.js', 'picnet.table.filter.min.js', 'jquery.noty.js', 'jquery.maskedinput.js']
    - js_files.each do |js_file|
      = javascript_include_tag js_file
    = csrf_meta_tag
    :javascript
      $(document).ready(function(){

        $("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled (Adds empty span tag after ul.subnav*)

        $("ul.topnav li span").click(function() { //When trigger is clicked...

          //Following events are applied to the subnav itself (moving subnav up and down)
          $(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click

          $(this).parent().hover(function() {
          }, function(){
            $(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
          });

          //Following events are applied to the trigger (Hover events for the trigger)
          }).hover(function() {
            $(this).addClass("subhover"); //On hover over, add class "subhover"
          }, function(){  //On Hover Out
            $(this).removeClass("subhover"); //On hover out, remove class "subhover"
        });

      });


  %body
    #main
      .intranet-menu
        %ul.intranet-menu
          %li
            = link_to t('core.view'), cores_path
          %li
            = link_to t('room.view'), rooms_path
          %li
            = link_to t('coordinator.view'), coordinators_path
          %li
            = link_to t('educator.view'), educators_path
          %li
            = link_to t('student.view'), students_path
          %li
            = link_to t('world_reading.view'), world_readings_path
          - if current_user.try(:admin)
            %li
              = link_to t('user.view'), users_path
      #header_wrapper
        #header
          .logo_header
        .right_menu
          %li
            = link_to current_user.name, edit_user_path(current_user)
          %li
            = link_to t('logout'), sign_out_path
      #content_wrapper
        .menu-aplicacao
        #content
          #main_column_wrapper
            #main_column
              :javascript
                #{show_messages}
              = yield
            .clearfix
      #footer_wrapper
        #footer