!!!
%html
  %head
    %title Alfa
    = stylesheet_link_tag :all
    - js_files = ['jquery.min.js', 'jquery_ujs.js', 'jquery-rails.js', 'jquery.dataTables.min.js', 'jquery.noty.js']
    - js_files.each do |js_file|
      = javascript_include_tag js_file
    = csrf_meta_tag


  %body
    #main
      #header_wrapper
        #header
          .logo_header
      #content_wrapper
        .menu-aplicacao
        #content
          #main_column_wrapper
            #main_column
              :javascript
                #{show_messages}
              = yield
            .clearfix
      #footer_wrapper
        #footer

